{% load basefilters %}
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <title>{% block title %}{% endblock %}{{settings.SITE_NAME}}</title>
    <link rel='shortcut icon' href='/static/site/img/favicon.ico'/>
    <link rel='stylesheet' type='text/css' href='/static/bower/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' type='text/css' href='/static/bower/mdi/css/materialdesignicons.min.css'/>
    <link rel='stylesheet' type='text/css' href='/static/bower/weather-underground-icons/dist/wu-icons-style.min.css'/>
    <link rel='stylesheet' type='text/css' href='/static/dist/codemirror.css'/>
    <link rel='stylesheet' type='text/css' href='/static/dist/main.css'/>
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600|Roboto+Mono|Crimson+Text|Cabin:400,500,600'/>
    {% block css %}{% endblock %}
  </head>
  <body>
    <div id='raspi'>

      <!-- Weather -->
      <div class='weather'>
        <div class='weather-today'>
          <div class='weather-today-summary'>
            <div class='weather-location'>{{weather.data.current_observation.display_location.city}}</div>
            <div class='weather-description'>{{weather.data.current_observation.weather}}</div>
          </div>
          <div class='weather-today-icon'>
            <i class='wu wu-white wu-32 wu-{{weather.data.current_observation.icon}}'></i>
          </div>
          <div class='weather-today-details'>
            <div class='weather-temp'>{{weather.data.current_observation.temp_f|to_int}}°F</div>
            <div class='weather-feelslike'>Feels: {{weather.data.current_observation.feelslike_f|to_int}}°</div>
          </div>
        </div>
        <div class='forecast' style='clear:both'>
          {% for this in weather.data.forecast.simpleforecast.forecastday|slice:'5' %}
            <div class='forecast-day' style='float:left;'>
              <i class='wu wu-solid-white wu-32 wu-{{this.icon}}'></i>
              <div class='forecast-weekday'>{{this.date.weekday_short}}</div>
              <div class='forecast-highlow'>{{this.high.fahrenheit}}°/{{this.low.fahrenheit}}°</div>
            </div>
          {% endfor %}
        </div>
      </div>

      <!-- Lichess -->
      <div class='lichesstv'>
        <script src="https://lichess.org/tv/embed?theme=grey&bg=dark"></script>
      </div>
      
    </div>
  </body>
</html>