{% extends "rest_framework/base.html" %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="/api/">Root</a></li>
    {% for breadcrumb_name, breadcrumb_url in breadcrumblist %}
      {% if forloop.last %}
        <li class="active"><a href="{{ breadcrumb_url }}">{{ breadcrumb_name }}</a></li>
      {% else %}
        <li><a href="{{ breadcrumb_url }}">{{ breadcrumb_name }}</a></li>
      {% endif %}
    {% empty %}
      {% block breadcrumbs_empty %}&nbsp;{% endblock breadcrumbs_empty %}
    {% endfor %}
  </ul>
{% endblock %}
