{% extends "rest_framework/base.html" %}

{% block title %}
  PushingKarma API
{% endblock %}

{% block branding %}
  <span style='float:left; font-size:1.3em; margin-top:5px;'>PushingKarma API
    <div style='font-size:11px; margin-top:-3px;'><a href='/' style='color:#aaa;'>View Website</a></div>
  </span>

{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="/api/">Root</a></li>
    {% for breadcrumb_name, breadcrumb_url in breadcrumblist %}
      {% if forloop.last %}
        <li class="active"><a href="{{ breadcrumb_url }}">{{ breadcrumb_name }}</a></li>
      {% else %}
        <li><a href="{{ breadcrumb_url }}">{{ breadcrumb_name }}</a></li>
      {% endif %}
    {% empty %}
      {% block breadcrumbs_empty %}&nbsp;{% endblock breadcrumbs_empty %}
    {% endfor %}
  </ul>
{% endblock %}
