<div class='curlshadow'>
  <div id='aboutme' class='sidebox'>
    <div class='thumbright vignette'>
      <img src='/static/pushingkarma/img/avatar/80x80/elsalvador.png' alt=''>
    </div>
    <h3 class='first'>Michael Shepanski</h3>
    <p>
      I've been creating websites for over 14 years, using Python since 2004
      &amp; Django since early 2009. Web development used to be a hobby to me.
      As web applications started becoming more complex and the demand so
      high, it turned into a full-time job.  My passion is finding simple and
      elegant ways to display complex information.
    </p>
  </div>
</div>
