{% extends 'base.html' %}
{% load basefilters %}
{% load humanize %}
{% block title %}Budget{% endblock %}

{% block content %}
  <div id='budget' class={{request.GET.demo|yesno:'demo,'}}>
    <!-- Layout:SidePanel -->
    <div id='sidepanel'>
      <div id='sidepanel-content'>
        <h2>Budget<div class='subtext'>
          <a id='panelbtn' href='javascript:pk.budget.toggle_panel()'>Accounts</a>
          <!-- | <a href='javascript:pk.budget.display_settings()'>Settings</a> -->
        </div></h2>
        <div id='categories'></div>
        <div id='accounts' style='display:none;'></div>
      </div>
    </div>
    <!-- Layout:MainContent -->
    <div id='maincontent'>
      <div id='searchwrap'>
        <span id='search-icon' class='mdi mdi-magnify'></span>
        <span id='viewbtn' class='mdi mdi-format-list-bulleted' data-toggle='tooltip' data-placement='bottom' title='View Transactions'></span>
        <input id='search' type='text' value='{{request.GET.search}}' autocomplete='off' autofocus='true'/>
        <div class='subtext'></div>
      </div>
      <div id='summary'></div>
      <div id='transactions'></div>
      <div id='dropzone'><div class='outline'>drop .qfx</div></div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script type='text/javascript'>
    $(function() {
      pk.init_handlebars();
      pk.budget.init('#budget');
    });
  </script>
  {% include 'handlebars/budget.tmpl' %}
{% endblock %}

