# Core Django settings
# https://docs.djangoproject.com/en/6.0/topics/settings/
DEBUG='true'
SECRET_KEY='***'
DOMAIN='http://localhost:8000'
ALLOWED_HOSTS='localhost,localhost.localdomain'
CSRF_TRUSTED_ORIGINS='http://localhost:5173,http://localhost.localdomain:5173'
INTERNAL_IPS='localhost'

# Email settings
# https://docs.djangoproject.com/en/6.0/topics/email/
EMAIL='example@gmail.com'
EMAIL_HOST_USER='example@gmail.com'
EMAIL_HOST_PASSWORD='***'

# Reddit API credentials
# https://github.com/praw-dev/praw
REDDIT_CLIENT_ID='***'
REDDIT_CLIENT_SECRET='***'
REDDIT_USERNAME='***'
REDDIT_PASSWORD='***'

# Gemini API
# https://aistudio.google.com/usage
GEMINI_API_KEY='***'
GEMINI_MODEL='gemini-3.1-flash-lite'
