*__pycache__*
*.bak
*.log
*.pyc
*.retry
*.sass-cache*
*.sql
*.sqlite3*
*.sublime-project
*.sublime-workspace
*.vscode
.vscode/settings.json
**/_dist/
**/_logs/
**/_static/
**/.direnv
**/.DS_Store
**/.env
**/.env.development
**/.env.production
**/build
**/coverage
**/node_modules/
vue/assets/hljsthemes.css
