*__pycache__*
*.bak
*.log
*.pyc
*.retry
*.sass-cache*
*.sql
*.sqlite3
*.sublime-project
*.sublime-workspace
*.vscode
**/_dist/
**/_logs/
**/_static/
**/.direnv
**/.DS_Store
**/.env
**/build
**/coverage
**/node_modules/
settings.py
