.DS_Store
*__pycache__*
*.log
*.pyc
*.retry
*.sass-cache*
*.sqlite3
*.sublime-workspace
.env
flickr.jpg
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/dist/
**/package-lock.json
**/node_modules/
**/.data/
/.vscode
/build
/coverage
/pk/collectstatic
/pk/data
/pk/static/bower
/pk/static/dist
