{% extends 'base.html' %}
{% load humanize %}
{% load basefilters %}
{% block title %}{% if note.title %}{{note.title}} - {% endif %}{% endblock %}

{% block content %}
  <div id='notes'>
    <!-- Side Panel -->
    <div id='sidepanel'>
      <span id='search-icon' class='mdi mdi-magnify'></span>
      <input id='search' type='text' autofocus='true' value='{{request.GET.search}}' onfocus='this.value=this.value;' autocomplete='off' />
      {% if user.is_authenticated %}
        <div id='search-action' data-toggle='tooltip' data-placement='right' title='Add New Note'><i class='mdi mdi-plus'></i></div>
      {% endif %}
      <div id='sidepanel-content'></div>
    </div>
    <!-- Note Content -->
    <div id='maincontent'>
      <article class='note'>
        <h2>{{note.title}}</h2>
        {{note.html|safe}}
      </article>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script type='text/javascript'>
    $(function() {
      pk.init_handlebars();
      {% if user.is_authenticated %}
        pk.editor.init('#notes .note', {
          api_url: '/api/notes',
          markdown_url: '/markdown/n/',
          show_title: true,
          show_tags: true,
          init_data: {{note|json}},
        });
      {% endif %}
      pk.notes.init('#notes', {
        init_noteid: {{note.id|default:0}},
      });
    });
  </script>
  {% include 'handlebars/editor.tmpl' %}
  {% include 'handlebars/notes.tmpl' %}
{% endblock %}
