//------------------------------------------------------------------------
// PushingKarma - Layout
//------------------------------------------------------------------------
@import 'compass';

html {
  background-attachment: fixed;
  background-color: #301c0f;
  background-image: url('#{$imgroot}/layout/background-hardwood-dark.jpg');
  background-position: center top;
  color: #eee;
  font-size: 14px; 
}
body {
  background-color: transparent;
  font-family: $font-family-serif;
}
header {
  @include shine(0.8);
  @include border-top-radius(5px);
  background-color: #252525;
  background-image: url('#{$imgroot}/layout/banner-china.jpg');
  background-repeat: no-repeat;
  background-position: 0px -20px;
  box-shadow: inset 0px 0px 60px rgba(0,0,0,0.6);
  height: 220px;
  margin: -20px -20px 0px -20px;
  overflow: hidden;
  position: relative;
}
footer {
  color: #ccc;
  margin: 15px;
}

#layoutborder {
  border-radius: 18px;
  background-image: url('#{$imgroot}/transparent/black-30.png');
  margin: 25px auto;
  max-width: 980px;
  padding: 13px;
}

#layoutwrap {
  border-radius: 8px;
  background-color: #DAD5C1;
  background-image: url('#{$imgroot}/layout/background-noise.jpg');
  background-position: center top;
  border: 2px solid #111;
  color: #504E41;
  font-family: $font-family-serif;
  padding: 20px;
  position: relative;
  text-shadow: 1px 1px 0px rgba(255,255,255,0.4);
  z-index: 0;
}

// Header Logo
#logo {
  @include border-right-radius(5px);
  @include shine(0.3);
  background-color: rgba(0,0,0,0.5);
  background-image: url('#{$imgroot}/layout/logo.png');
  background-position: 17px 5px;
  background-repeat: no-repeat;
  display: block;
  float: left;
  height: 65px;
  margin-top: 120px;
  position: relative;
  transition: background-color 0.5s, box-shadow 0.5s;
  width: 277px;

  &:hover { background-color: rgba(0,0,0,0.8); }
  .title, .subtitle { display: none; }
}


// Particles Container
#particles {
  position: absolute;
  top: 0px;
  left: 0px;
}



//------------------------------------------------------------------------
// Responsive 600px
//------------------------------------------------------------------------
// @media (max-width: 600px) {
//   header {
//     background-size: 700px;
//     height: 120px;
//   }
//   #logo {
//     margin-top: 58px;
//   }
//   #logo a {
//     background-size: 200px;
//     width: 200px;
//     height: 42px;
//   }
// }


// @media (max-width: 979px) {
//   body { padding: 0px; }
//   header {
//     border-radius: 0px;
//   }
//   #layoutborder {
//     border-radius: 0px;
//     margin: 0px;
//     padding: 0px 0px 15px 0px;
//   }
//   #layoutwrap {
//     border-radius: 0px;
//     border-width: 0px;
//   }
// }
