// Encoding: UTF-8

::selection {
  background-color: rgba(0,0,0,0.2);
  color: #fff;
}
.first { margin-top: 0px; }

a {
  color: #005500;
  &.invalid { color:#a00; }
}

h1, h2, h3, h1 a, h2 a, h3 a {
  color: #543;
  line-height: normal;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
  font-family: $font-family-serif;
}
h2 {
  font-size: 28px;
  margin: 15px 0px 5px 0px;
  &:first-child { margin-top:0px; }
}
h3 {
  font-size: 22px;
  margin: 5px 0px 5px 0px;
  &:first-child { margin-top:0px; }
}
p {
  font-size: 18px;
  line-height: 1.6em;
}

ul, ol {
  margin-top: 5px;
  li {
    font-size: 16px;
    line-height: 22px;
    pre { margin:10px 0px; }
  }
}

article ul,
article ol {
  width: 85%;
  ul, ol {
    margin-top: 0px;
    width: 100%;
  }
}
article ul.task-list {
  list-style: none;
  padding-left: 20px;
  input[type=checkbox] {
    -webkit-appearance: none;
    border-color: #888;
    border-radius: 2px;
    margin-right: 5px;
    position: relative;
    top: 1px;
    width: 13px;
    height: 13px;
    background-color: rgba(255,255,255,0.25);
    &:checked:before {
      content: '';
      display: block;
      width: 5px;
      height: 9px;
      border: solid #666;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      margin-left: 3px;
      margin-top: 0px;
    }
  }
}
