// Encoding: UTF-8

@font-face {
    font-family: 'fleurons';
    src: url('/static/pushingkarma/font/fleurons/fleurons-webfont.eot');
    src: url('/static/pushingkarma/font/fleurons/fleurons-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/pushingkarma/font/fleurons/fleurons-webfont.woff2') format('woff2'),
         url('/static/pushingkarma/font/fleurons/fleurons-webfont.woff') format('woff'),
         url('/static/pushingkarma/font/fleurons/fleurons-webfont.ttf') format('truetype'),
         url('/static/pushingkarma/font/fleurons/fleurons-webfont.svg#fleurons') format('svg');
    font-weight: normal;
    font-style: normal;
}
