// Encoding: UTF-8

input,
textarea {
  background-color: #f0efeb;
  border: 1px solid #aaa;
  box-shadow: none !important;
  padding: 1px 4px;
}
textarea {
  font-size: 11px;
  font-family: $font-family-monospace;
  line-height: 15px;
  color: #111;
}
input:focus,
textarea:focus {
  box-shadow: none !important;
  border-color: rgba(61,87,138,0.8);
  outline: none;
}
::placeholder {
  color: #777;
}
