// Encoding: UTF-8

#magnets {
  position: relative;
  top: -35px;
  
  #addword {
    background-color: rgba(0,0,0,0.1);
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.1);
    float: right;
    margin-bottom: 10px;
    width: 200px;
  }
  #canvas {
    background-color: rgba(0,0,0,0.1);
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.1);
    clear: right;
    cursor: default;
    height: 400px;
    overflow: hidden;
    position: relative;
    user-select: none;
  }
  .word {
    background-color: #f8f8f8;
    border-bottom: 2px solid #666;
    border-radius: 2px;
    border: 2px solid rgba(74, 128, 240, 0);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    padding: 0px 5px;
    position: absolute;
    line-height: 23px;
    color: #555;
    cursor: move;
    transition:
      background-color 0.2s ease,
      box-shadow 0.2s ease,
      border 0.2s ease;
    &.dragging {
      background-color: #d2dcf2;
      box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
      border: 2px solid rgba(74, 128, 240, 1);
    }
  }
  
}
