// Encoding: UTF-8
// Article Styles
article {
  font-family: $fontfamily-article;
  font-weight: 400;

  // Remove Focus
  :focus {
    // outline: -webkit-focus-ring-color auto 1px;
    // outline-color: -webkit-focus-ring-color;
    // outline-style: auto;
    outline-width: 0px;
  }

  // Header Elements (h1, h2, h3)
  h1 {
    font-family: $fontfamily-title;
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 30px;
    &:after {
      border-bottom: 2px solid $lightbg-accent;
      content: ' ';
      display: block;
      height: 15px;
      width: 300px;
    }
  }
  h2 {
    font-family: $fontfamily-article;
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  h3 {
    font-family: $fontfamily-article;
    font-size: 1.1em;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  h1, h2, h3 {
    &:first-child {
      margin-top: 0px;
    }
    .subtext {
      font-family: $fontfamily-article;
      font-size: 1rem;
      font-weight: 400;
      margin-top: -5px;
      padding: 0px 0px 0px 2px;
      text-transform: none;
    }
    .accent {
      color: $lightbg-accent;
    }
  }

  // Markup Elements
  // Paragraph, Blockquote, Code, Lists
  p {
    color: $lightbg-fg2;
    font-size: 1rem;
    line-height: 1.7;
    margin-block-end: 12px;
    margin-block-start: 12px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
  }
  blockquote {
    border-left: 6px solid #ebdbb2;
    padding-left: 25px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 1px 25px;
    font-style: italic;
    color: $lightbg-text-dim;
    background-color: darken($lightbg-bg1, 1%);
  }
  code {
    background-color: #d8d8d8;
    padding: 1px 4px;
    margin: 0px 1px;
    border-radius: 3px;
    font-family: 'Roboto Mono',monospace;
    font-size: 1.0em;
    font-weight: 400;
  }
  hr {
    background-color: $lightbg-bg3;
    background:linear-gradient(90deg, rgba($lightbg-bg3,0) 0%, rgba($lightbg-bg3,1) 10%, rgba($lightbg-bg3,1) 90%, rgba($lightbg-bg3,0) 100%);
    height: 1px;
    width: 50%;
    margin: 50px auto;

  }

  // Description List, 
  dl {
    margin: 10px 0px;
    line-height: 1.7;
    font-size: 0.8em;
    dt {
      width: 70px;
      float: left;
      clear: left;
      margin-right: 10px;
      overflow: hidden;
      color: $lightbg-text-dim;
      text-transform: uppercase;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  // Ordered & Unordered Lists
  ul, ol {
    padding-left: 30px;
    li p, ul p { margin: 0px; }
    ul, ol {
      margin-top: 0px !important;
      margin-bottom: 3px !important;
      padding-left: 20px !important;
    }
  }
  ul li { list-style-type: disc; }
  ol li { list-style-type: decimal; }

  // Todo Lists
  ul[data-type='todo_list'] {
    padding-left: 0;
    li[data-type='todo_item'] { display:flex; flex-direction:row; }
    .todo-checkbox {
      background-color: transparent;
      border-radius: 0.2em;
      border: 2px solid lighten($lightbg-text, 20%);
      box-sizing: border-box;
      cursor: pointer;
      height: 1em;
      margin-right: 10px;
      margin-top: 5px;
      transition: 0.4s background;
      user-select: none;
      width: 1em;
    }
    .todo-content {
      flex: 1;
      > p:last-of-type { margin-bottom:0; }
      > ul[data-type='todo_list'] { margin:.5rem 0; }
    }
    li[data-done='true'] {
      > .todo-content { > p { text-decoration:line-through; }}
      > .todo-checkbox {
        background: lighten($lightbg-text, 20%) url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg'\
          viewBox='0 0 1 1'%3E%3Cpath d='M.04.627L.146.52.43.804.323.91zm.177.177L.854.167.96.273.323.91z'\
          fill='%23fff'/%3E%3C/svg%3E") no-repeat 50%;
      }
    }
  }

}
