// Encoding: UTF-8

//----------------------------------------------------
// Buttons
// https://buefy.org/documentation/button
//----------------------------------------------------
.button {
  background-color: darken($lightbg-bg1, 10%);
  border-width: 0px;
  border-radius: 5px;
  color: $lightbg-fg2;
  font-size: 0.9rem;
  line-height: 1em;
  transition: background-color 0.2s ease, color 0.2s ease;
  &:active { color: $lightbg-fg2; }
  &:focus {
    background-color: darken($lightbg-bg1, 10%);
    box-shadow: none !important;
    text-decoration-line: underline;
    text-decoration-style: dotted;
  }
  &:hover {
    background-color: darken($lightbg-bg1, 20%) !important;
    box-shadow: none !important;
    color: darken($lightbg-fg2, 10%);
  }
}
.button.is-primary {
  background-color: darken($lightbg-bg1, 10%);
  color: darken($lightbg-fg2, 5%);
  &:focus { color: darken($lightbg-fg2, 5%); }
  &:hover { color: darken($lightbg-fg2, 7%); }
}
.button.is-danger {
  background-color: darken($lightbg-bg1, 10%);
  color: darken($darkbg-red0, 5%);
  &:focus { color: darken($darkbg-red0, 5%); }
  &:hover { color: darken($darkbg-red0, 7%); }
}
.button.is-small { font-size: 0.8rem; }
.b-table + button { margin-top: 10px; }


//----------------------------------------------------
// Form Controls
// Labels: https://buefy.org/documentation/field
//----------------------------------------------------
.label {
  font-weight: 400;
  margin-bottom: 0px !important;
  font-size: 0.8em;
}
.input {
  background-color: $lightbg-bg0;
  &:focus { box-shadow: 0 0 0 2px rgba(7, 102, 120, 0.25); }
}


//----------------------------------------------------
// Loading Animation
// https://buefy.org/documentation/loading
//----------------------------------------------------
.loading-overlay {
  .loading-background { background-color: transparent; }
  .loading-icon:after {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    border: 2px solid lighten($lightbg-fg1, 65%);
    border-top: 2px solid lighten($lightbg-fg1, 40%);
  }
  &.is-small .loading-icon:after {
    width: 18px;
    height: 18px;
    top: calc(50% - 9px);
    left: calc(50% - 9px);
  }
}


//----------------------------------------------------
// Modal Card
// https://buefy.org/documentation/dialog
//----------------------------------------------------
.modal-card {
  background-color: $lightbg-bg1;
  border-radius: 5px;
  box-shadow: inset 0 0 5em 1em rgba($lightbg-fg0, 0.15);
  .modal-card-head,
  .modal-card-body,
  .modal-card-foot {
    background-color: transparent;
    border-width: 0px;
    color: $lightbg-fg2;
    font-weight: 400;
  }
  .modal-card-head { padding: 25px 20px 0px 20px; }
  .modal-card-foot { padding-top: 0px; }
}


//----------------------------------------------------
// Notices
// https://buefy.org/documentation/snackbar/
//----------------------------------------------------
.notices {
  font-size: 0.9rem;
  padding: 70px 20px 20px 20px;
}


//----------------------------------------------------
// Tables
// Kitchen sink of usefulness; Is this a love hate relationship?
// https://buefy.org/documentation/table
//----------------------------------------------------
.table-wrapper {
  background-color: lighten($lightbg-bg1, 2%);
  border: 1px solid $lightbg-bg3;
  border-radius: 2px;
}
.table {
  background-color: transparent;
  font-size: 15px;
  color: $lightbg-fg2;

  tr { position:relative; }
  tr.is-empty td {
    font-size: 1.3em;
    text-align: center;
    justify-content:center;
    padding: 50px;
    color: lighten($lightbg-fg2, 40%);
  }
  
  &.is-narrow th { background-color:$lightbg-bg2; font-size:12px; padding:1px 6px; }
  &.is-narrow th div { position:relative; top:1px; }
  &.is-narrow td { padding:1px; border-color:$lightbg-bg2; }
  td.blur { font-family:$fontfamily-code; font-size:13px; }
  td .gtzero { color:$lightbg-green2; font-weight:bold; }
  td .zero { color:lighten($lightbg-fg2, 40%); }
  th.toggle div { text-align:center; justify-content:center; }
  td.toggle div { text-align:center; justify-content:center; }
}


//----------------------------------------------------
// Tabs
// https://buefy.org/documentation/tabs/
//----------------------------------------------------
.tabs ul { padding-left: 0px; border-bottom-width:2px; }
.tabs a { border-bottom-width:2px; margin-bottom: -2px; }
.b-tabs .tab-content { padding: 20px 0px; }
