// Encoding: UTF-8
// Buefy Overrides

// Buttons
// https://buefy.org/documentation/button
.button {
  border-width: 2px;
  border-radius: 5px;
  color: $lightbg-fg2;
  font-size: 0.9rem;
  line-height: 1em;
  &:active { color: $lightbg-fg1; }
}
.button.is-small {
  font-size: 0.8rem;
}
.button.is-danger {
  border-color: darken($darkbg-red0, 5%);
  &:hover, &:focus {
    border-color: darken($darkbg-red0, 15%);
    box-shadow: none !important;
  }
}
.b-table + button { margin-top: 10px; }

// Form Controls
// Labels - https://buefy.org/documentation/field
.label {
  font-weight: 400;
  margin-bottom: 0px !important;
  font-size: 0.8em;
}
.input {
  background-color: $lightbg-bg0;
  &:focus { box-shadow: 0 0 0 2px rgba(7, 102, 120, 0.25); }
}

// Loading Animation
// https://buefy.org/documentation/loading
.loading-overlay {
  .loading-background { background-color: transparent; }
  .loading-icon:after {
    animation-duration: 1s;
    border: 2px solid lighten($lightbg-fg1, 65%);
    border-top: 2px solid lighten($lightbg-fg1, 40%);
  }
  &.is-small .loading-icon:after {
    width: 18px;
    height: 18px;
    top: calc(50% - 9px);
    left: calc(50% - 9px);
  }
}
.loading-overlay 

// Modal Card
// https://buefy.org/documentation/dialog
.dialog .modal-card {
  // background-color: $lightbg-bg1;
  .modal-card-head,
  .modal-card-body,
  .modal-card-foot {
    background-color: $lightbg-bg1;
    border-width: 0px;
    color: $lightbg-fg1;
    font-weight: 400;
    .button { font-weight:400; }
  }
  .modal-card-head {
    padding-bottom: 0px;
  }
}

// Notices
// https://buefy.org/documentation/snackbar/
.notices {
  font-size: 0.9rem;
  padding: 70px 20px 20px 20px;
}

// Tables
// Kitchen sink of usefulness; Is this a love hate relationship?
// https://buefy.org/documentation/table
.table-wrapper {
  background-color: lighten($lightbg-bg1, 2%);
  border: 1px solid $lightbg-bg3;
  border-radius: 2px;
}
.table {
  background-color: transparent;
  font-size: 15px;
  color: $lightbg-fg2;

  
  tr { position:relative; }
  tr.is-empty td {
    font-size: 1.3em;
    text-align: center;
    justify-content:center;
    padding: 50px;
    color: lighten($lightbg-fg2, 40%);
  }
  
  &.is-narrow th { background-color:$lightbg-bg2; font-size:12px; padding:1px 6px; }
  &.is-narrow th div { position:relative; top:1px; }
  &.is-narrow td { padding:1px; border-color:$lightbg-bg2; }
  td.blur { font-family:$fontfamily-code; font-size:13px; }
  td .gtzero { color:$lightbg-green2; font-weight:bold; }
  td .zero { color:lighten($lightbg-fg2, 40%); }
  th.check div { text-align:center; justify-content:center; }
  td.check div { text-align:center; justify-content:center; }
}

// Tabs
// https://buefy.org/documentation/tabs/
.tabs ul { padding-left: 0px; border-bottom-width:2px; }
.tabs a { border-bottom-width:2px; margin-bottom: -2px; }
.b-tabs .tab-content { padding: 20px 0px; }
