// Encoding: UTF-8
// Buefy Overrides

// Buttons
// https://buefy.org/documentation/button
.button {
  border-width: 2px;
  border-radius: 5px;
  color: $lightbg-fg2;
  font-size: 0.9rem;
  line-height: 1em;
  &:active { color: $lightbg-fg1; }
}
.button.is-small {
  font-size: 0.8rem;
}
.button.is-danger {
  border-color: darken($darkbg-red0, 5%);
  &:hover, &:focus {
    border-color: darken($darkbg-red0, 15%);
    box-shadow: none !important;
  }
}
.b-table + button { margin-top: 10px; }

// Form Controls
// Labels - https://buefy.org/documentation/field
.label {
  font-weight: 400;
  margin-bottom: 0px !important;
  font-size: 0.8em;
}

// Modal Card
// https://buefy.org/documentation/dialog
.dialog .modal-card {
  // background-color: $lightbg-bg1;
  .modal-card-head,
  .modal-card-body,
  .modal-card-foot {
    background-color: $lightbg-bg1;
    border-width: 0px;
    color: $lightbg-fg1;
    font-weight: 400;
    .button { font-weight:400; }
  }
  .modal-card-head {
    padding-bottom: 0px;
  }
}

// Notices
// https://buefy.org/documentation/snackbar/
.notices {
  font-size: 0.9rem;
  padding: 70px 20px 20px 20px;
}

// Tables
// Kitchen sink of usefulness; Is this a love hate relationship?
// https://buefy.org/documentation/table
.table-wrapper {
  background-color: lighten($lightbg-bg1, 2%);
  border: 1px solid $lightbg-bg3;
  border-radius: 2px;
}
.table {
  background-color: transparent;
  font-size: 16px;
  color: $lightbg-fg1;
  tr { position:relative; }
  td.blur { font-family:$fontfamily-code; font-size:0.9em; }
  &.is-narrow {
    th { background-color:$lightbg-bg2; font-size:0.8em; padding:1px 10px; }
    td { padding:1px 5px; }
  }
  th.check div { text-align:center; justify-content:center; }
  td.check div {
    text-align:center;
    justify-content:center;
  }
  
}

// Tabs
// https://buefy.org/documentation/tabs/
.tabs ul { padding-left: 0px; border-bottom-width:2px; }
.tabs a { border-bottom-width:2px; margin-bottom: -2px; }
.b-tabs .tab-content { padding: 20px 0px; }
