// Encoding: UTF-8

.content {
  color: $lightbg-text;

  // Links
  a {
    color: $lightbg-link;
    text-decoration: none;
    cursor: pointer;
    &:hover { text-decoration: underline; }
  }

  // Header Elements
  // H1, H2, H3
  h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 600;
    border-left: 6px solid $lightbg-accent;
    padding-left: 25px;
  }
  h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.4em;
    font-weight: 500;
  }
  h1, h2, h3 {
    // padding-top: 100px;
    // margin-top: -100px;

    .subtext {
      font-size: 0.4em;
      font-weight: 400;
      padding: 3px 0px;
      text-transform: none;
    }
    .accent {
      color: $lightbg-accent;
    }
  }

  // Content Elements
  // Paragraph, Blockquote, Code, Lists
  p {
    line-height: 1.8;
  }
  blockquote {
    border-left: 6px solid #ebdbb2;
    padding-left: 25px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 1px 25px;
    font-style: italic;
    color: $lightbg-text-dim;
    background-color: darken($lightbg-color, 1%);
  }
  code {
    background-color: #d8d8d8;
    padding: 3px 5px;
    border-radius: 3px;
    font-family: 'Source Code Pro', monospace;
  }
  dl {
    margin: 10px 0px;
    font-size: 0.8em;
    line-height: 1.7;
    dt {
      width: 60px;
      float: left;
      margin-right: 10px;
      color: $lightbg-text-dim;
      text-transform: uppercase;
    }
  }
  ul, ol {
    ul, ol {
      margin-top: 0px !important;
      margin-bottom: 3px !important;
      padding-left: 20px !important;
    }
  }
  li p, ul p {
    margin: 0px;
  }
  
  // Form Elements
  // Input, Label, Button
  input {
    width: 100%;
    border-radius: 6px;
    border: 2px solid #dddddd;
    background-color: #f8f8f8;
    padding: 10px;
    color: $lightbg-input;
  }
  label {
    display: block;
    padding: 3px 0px;
    font-weight: 100;
    margin-top: 10px;
  }
  button {
    background-color: darken($lightbg-color, 10%);
    border-radius: 5px;
    border-width: 0px;
    color: $lightbg-text-dim;
    line-height: 1.6em;
    padding: 2px 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.9em;
    &:hover { background-color:darken($lightbg-color, 15%); color:$lightbg-link; }
    &.primary {
      background-color: #076678;
      color: $darkbg-text;
      &:hover { background-color:darken(#076678, 5%); color:#fff; }
    }
  }

  // Todo Lists
  // https://tiptap.scrumpy.io/todo-list
  ul[data-type='todo_list'] {
    padding-left: 14px;
    ul { padding-left: 0px !important; }
  }
  li[data-type='todo_item'] {
    display: flex;
    flex-direction: row;
  }
  .todo-checkbox {
    border: 2px solid $lightbg-text;
    height: 0.9em;
    width: 0.9em;
    box-sizing: border-box;
    margin-right: 10px;
    margin-top: 7px;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    border-radius: 0.2em;
    background-color: transparent;
    transition: 0.2s background;
  }
  .todo-content {
    flex: 1;
    > p:last-of-type { margin-bottom: 0; }
    > ul[data-type='todo_list'] { margin: .5rem 0; }
  }
  li[data-done='true'] {
    > .todo-content { > p { text-decoration: line-through; opacity: 0.5; }}
    > .todo-checkbox { background-color: lighten($lightbg-text, 20%); }
  }
  li[data-done='false'] { text-decoration: none; }
  
  // Custom Element Types
  // Footnote
  .footnote {
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: $lightbg-text-dim;
    font-size: 0.7em;
    margin-top: 30px;
    width: 290px;
  }
}

// Dark Background
// Color scheme for darker background areas
.darkbg {
  background-color: $darkbg-color;
  color: $darkbg-text;

  a,a:visited {
    color: $darkbg-link;
    text-decoration: none;
    transition: color 0.2s ease;
    &:hover { color: $darkbg-link-hover; }
  }
}
