// Encoding: UTF-8
// Basic HTML Styles
html, body {
  background-color: $darkbg-bg0;
  color: $darkbg-fg0;
  font-weight: 400;
  font-size: 15px;
  margin: 0px;
  overflow-y: auto;
  padding: 0px;
}
body, button, input, select, textarea {
  font-family: $fontfamily-article;
  font-weight: 400;
}
*, *:before, *:after {
  box-sizing: border-box;
}

// Dark Background
// Color scheme for darker background areas
.darkbg {
  background-color: $darkbg-bg0;
  color: $darkbg-fg0;
  a,a:visited {
    color: $darkbg-fg0;
    text-decoration: none;
    transition: color 0.2s ease;
    &:hover { color: $darkbg-orange1; }
  }
}

// Transition FadeIn
// Fade in only, snap to display:none on fade out.
.fadein-enter-active { transition: opacity .3s ease; }
.fadein-enter { opacity: 0; }
.fadein-leave,
.fadein-leave-active,
.fadein-leave-to { display: none !important; }

// Transition ZoomFade
// Fade in and out with a bit of zoom.
.zoomfade-enter { opacity:0; }
.zoomfade-enter-active { transition: all .3s ease; }
.zoomfade-leave-active { opacity:0; }
.zoomfade-enter .zoom,
.zoomfade-leave-active .zoom { transform: scale(1.1); }
