// Encoding: UTF-8
// Basic HTML Styles
html, body {
  background-color: $darkbg-bg0;
  color: $darkbg-fg0;
  font-family: $fontfamily-article;
  font-weight: 400;
  margin: 0px;
  overflow-y: auto;
  padding: 0px;
}
*, *:before, *:after {
  box-sizing: border-box;
}

// Dark Background
// Color scheme for darker background areas
.darkbg {
  background-color: $darkbg-bg0;
  color: $darkbg-fg0;
  a,a:visited {
    color: $darkbg-fg0;
    text-decoration: none;
    transition: color 0.2s ease;
    &:hover { color: $darkbg-orange1; }
  }
}

// Custom Scrollbars
// <div class='scrollbox'>
//   <div class='scrollbox-content'>[CONTENT]</div>
// </div>
.scrollbox {
  overflow-x: hidden;
  visibility: hidden;
  height: calc(100vh - 100px);
  transition: visibility 0s 0.2s;
  width: 300px;
  &::-webkit-scrollbar { width: 10px; }
  &::-webkit-scrollbar-thumb {
    background: rgba($darkbg-bg4, 0.8);
    border-radius: 5px;
    border: 2px solid $darkbg-color;
  }
}
.scrollbox:hover,
.scrollbox-content {
  visibility: visible;
}

// Transition FadeIn
// Fade in only, snap to display:none on fade out.
.fadein-enter-active { transition: opacity .3s ease; }
.fadein-enter { opacity: 0; }
.fadein-leave,
.fadein-leave-active,
.fadein-leave-to { display: none !important; }

// Transition ZoomFade
// Fade in and out with a bit of zoom.
.zoomfade-enter { opacity:0; }
.zoomfade-enter-active { transition: all .3s ease; }
.zoomfade-leave-active { opacity:0; }
.zoomfade-enter .zoom,
.zoomfade-leave-active .zoom { transform: scale(1.1); }
