// Encoding: UTF-8

// Fade
.fade-enter-active,
.fade-leave-active { transition: opacity .3s ease; }
.fade-enter,
.fade-leave-to { opacity: 0; }

// Fade Fast
.fadefast-enter-active,
.fadefast-leave-active { transition: opacity 0.15s ease; }
.fadefast-enter,
.fadefast-leave-to { opacity: 0; }

// Fade Slow
.fadeslow-enter-active,
.fadeslow-leave-active { transition: opacity 1s ease; }
.fadeslow-enter,
.fadeslow-leave-to { opacity: 0; }

// Zoom Fade
.zoomfade-enter { opacity:0; }
.zoomfade-enter-active { transition: all .3s ease; }
.zoomfade-leave-active { opacity:0; }
.zoomfade-enter .zoom,
.zoomfade-leave-active .zoom { transform: scale(1.1); }
