// Encoding: UTF-8

// Google Fonts
// https://fonts.google.com/specimen/Josefin+Sans?sidebar.open&selection.family=Josefin+Sans:wght@300;400|Montserrat:wght@300;400|Open+Sans:wght@300;400;600|Roboto+Mono
$fontfamily-title: 'Montserrat', sans-serif;
$fontfamily-article: 'Open Sans', sans-serif;
$fontfamily-artsy: 'Josefin Sans', sans-serif;
$fontfamily-code: 'Roboto Mono', monospace;

// Gruvbox Light Color Scheme
// https://github.com/morhetz/gruvbox-contrib
$lightbg-bgh: #f9f5d7;
$lightbg-bgs: #f2e5bc;
$lightbg-gray: #928374;
$lightbg-bg0: #f8f8f8;  // original #fbf1c7;
$lightbg-bg1: #eeeeee;  // original #ebdbb2;
$lightbg-bg2: #e1e1e1;  // original #d5c4a1; 
$lightbg-bg3: #d5d5d5;  // original #bdae93;
$lightbg-bg4: #a89984;
$lightbg-fg0: #282828;
$lightbg-fg1: #3c3836;
$lightbg-fg2: #504945;
$lightbg-fg3: #665c54;
$lightbg-fg4: #7c6f64;
$lightbg-red0: #cc241d;
$lightbg-red1: #9d0006;
$lightbg-orange0: #d65d0e;
$lightbg-orange1: #af3a03;
$lightbg-yellow0: #d79921;
$lightbg-yellow1: #b57614;
$lightbg-green0: #98971a;
$lightbg-green1: #79740e;
$lightbg-blue0: #458588;
$lightbg-blue1: #076678;
$lightbg-aqua0: #689d6a;
$lightbg-aqua1: #427b58;
$lightbg-purple0: #b16286;
$lightbg-purple1: #8f3f71;

// Gruvbox Dark Color Scheme
// https://github.com/morhetz/gruvbox-contrib
$darkbg-bgh: #1d2021;
$darkbg-bgs: #32302f;
$darkbg-gray: #928374;
$darkbg-bg0: #282828;
$darkbg-bg1: #3c3836;
$darkbg-bg2: #504945;
$darkbg-bg3: #665c54;
$darkbg-bg4: #7c6f64;
$darkbg-fg0: #fbf1c7;
$darkbg-fg1: #ebdbb2;
$darkbg-fg2: #d5c4a1;
$darkbg-fg3: #bdae93;
$darkbg-fg4: #a89984;
$darkbg-red0: #cc241d;
$darkbg-red1: #fb4934;
$darkbg-orange0: #d65d0e;
$darkbg-orange1: #fe8019;
$darkbg-yellow1: #fabd2f;
$darkbg-yellow0: #d79921;
$darkbg-green0: #98971a;
$darkbg-green1: #b8bb26;
$darkbg-blue0: #458588;
$darkbg-blue1: #83a598;
$darkbg-aqua0: #689d6a;
$darkbg-aqua1: #8ec07c;
$darkbg-purple0: #b16286;
$darkbg-purple1: #d3869b;

// Buefy & Bulma Styles
// https://buefy.org/documentation/customization
$primary: #076678;
$primary-invert: findColorInvert($primary);
$colors: (
  'primary': ($primary, $primary-invert),
  'white': (#eeeeee, #282828),
  'black': (#282828, #eeeeee),
  // 'light': ($light, $light-invert),
  // 'dark': ($dark, $dark-invert),
  // 'info': ($info, $info-invert),
  // 'success': ($success, $success-invert),
  // 'warning': ($warning, $warning-invert),
  // 'danger': ($danger, $danger-invert),
);
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// NewTab & RaspPi Colors
// https://pushingkarma.com/newtab
$newtab_color: #fff;
$newtab_dim: #eee;
$raspi_color: #e5d9c0;
$raspi_dim: darken($raspi_color, 15%);
$newtab_transition: opacity 0.2s ease-in;

// DEPRECATED
$lightbg-text:       #3c3836;   // 12 
$lightbg-text-dim:   #7c6f64;   // 4
$lightbg-link:       #076678;   // 4
$lightbg-link-hover: #076678;   // 1
$lightbg-accent:     #d65d0e;   // 3
$lightbg-input:      #3c3836;   // 1
$darkbg-color:       #282828;   // 12
$darkbg-text:        #ebdbb2;   // 12
$darkbg-text-dim:    #bdae93;   // 5
$darkbg-link:        #fbf1c7;   // 6
$darkbg-link-hover:  #fe8019;   // 3
$darkbg-accent:      #fe8019;   // 4
$darkbg-input:       #d79921;   // 3
