// Encoding: UTF-8
// Gruvbox Color Scheme
// https://github.com/morhetz/gruvbox-contrib
//
// Dark Color Scheme
// -----------------
// bgh     #1d2021;  bgs     #32302f;  gray #928374;
// bg0     #282828;  bg1     #3c3836;  bg2  #504945;  bg3 #665c54;  bg4 #7c6f64;
// fg0     #fbf1c7;  fg1     #ebdbb2;  fg2  #d5c4a1;  fg3 #bdae93;  fg4 #a89984;
// red0    #cc241d;  red1    #fb4934;
// orange0 #d65d0e;  orange1 #fe8019;
// yellow1 #fabd2f;  yellow0 #d79921;
// green0  #98971a;  green1  #b8bb26;
// blue0   #458588;  blue1   #83a598;
// aqua0   #689d6a;  aqua1   #8ec07c;
// purple0 #b16286;  purple1 #d3869b;
//
// Light Color Scheme
// ------------------
// bgh     #f9f5d7;  bgs     #f2e5bc;  gray #928374;
// bg0     #fbf1c7;  bg1     #ebdbb2;  bg2  #d5c4a1;  bg3 #bdae93;  bg4 #a89984;
// fg0     #282828;  fg1     #3c3836;  fg2  #504945;  fg3 #665c54;  fg4 #7c6f64;
// red0    #cc241d;  red1    #9d0006;
// orange0 #d65d0e;  orange1 #af3a03;
// yellow0 #d79921;  yellow1 #b57614;
// green0  #98971a;  green1  #79740e;
// blue0   #458588;  blue1   #076678;
// aqua0   #689d6a;  aqua1   #427b58;
// purple0 #b16286;  purple1 #8f3f71;

$font-serif: 'Montserrat', Helvetica, Arial, sans-serif;
$bounce: cubic-bezier(.47,1.64,.41,.8);

$lightbg-color:      #eeeeee;
$lightbg-text:       #3c3836;
$lightbg-text-dim:   #7c6f64;
$lightbg-link:       #282828;
$lightbg-link-hover: #076678;
$lightbg-accent:     #d65d0e;
$lightbg-input:      #3c3836;

$darkbg-color:       #282828;
$darkbg-text:        #f9f5d7;
$darkbg-text-dim:    #bdae93;
$darkbg-link:        #fbf1c7;
$darkbg-link-hover:  #fe8019;
$darkbg-accent:      #fe8019;
$darkbg-input:       #d79921;


// Style Reset
body, html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: $darkbg-color;
  color: $darkbg-text;
  font-family:$font-serif;
  font-weight: 400;
  font-size: 18px;
}
*, *:before, *:after { box-sizing: inherit; }
:focus { outline: none !important; }


//-------------------------
// Content Styles
//-------------------------
.content {
  color: $lightbg-text;

  // Links
  a,a:hover {
    color: #1d2021;
    text-decoration: underline;
  }

  // Article Elements
  // Header, Paragraph, List
  h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    border-left: 6px solid $lightbg-accent;
    padding-left: 25px;
    span {
      font-size: 16px;
      text-transform: none;
      display: block;
      padding: 3px 0px;
      font-weight: 100;
    }
  }
  h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    span.accent { color: $lightbg-accent; }
  }
  p {
    line-height: 1.8;
  }
  blockquote {
    border-left: 6px solid #ebdbb2;
    padding-left: 25px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 1px 25px;
    font-style: italic;
    color: $lightbg-text-dim;
    background-color: darken($lightbg-color, 1%);
  }
  code {
    background-color: #d8d8d8;
    padding: 3px 5px;
    border-radius: 3px;
    font-family: 'Source Code Pro', monospace;
  }
  dl {
    margin: 10px 0px;
    font-size: 15px;
    line-height: 23px;
    dt {
      width: 60px;
      float: left;
      font-size: 11px;
      margin-right: 10px;
      color: $lightbg-text-dim;
      text-transform: uppercase;
    }
  }
  ul, ol {
    ul, ol {
      margin-top: 0px !important;
      margin-bottom: 3px !important;
      padding-left: 20px !important;
    }
  }
  li p, ul p {
    margin: 0px;
  }
  
  // Form Elements
  // Input, Label, Button
  input {
    width: 100%;
    border-radius: 6px;
    border: 2px solid #dddddd;
    background-color: #f8f8f8;
    padding: 10px;
    color: $lightbg-input;
  }
  label {
    font-size: 13px;
    display: block;
    padding: 3px 0px;
    font-weight: 100;
    margin-top: 10px;
  }
  button {
    background-color: darken($lightbg-color, 10%);
    border-radius: 5px;
    border-width: 0px;
    color: $lightbg-text-dim;
    line-height: 23px;
    padding: 2px 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    &:hover { background-color:darken($lightbg-color, 15%); color:$lightbg-link; }
    &.primary {
      background-color: #076678;
      color: $darkbg-text;
      &:hover { background-color:darken(#076678, 5%); color:#fff; }
    }
  }

  // Todo Lists
  // https://tiptap.scrumpy.io/todo-list
  ul[data-type='todo_list'] {
    padding-left: 14px;
    ul { padding-left: 0px !important; }
  }
  li[data-type='todo_item'] {
    display: flex;
    flex-direction: row;
  }
  .todo-checkbox {
    border: 2px solid $lightbg-text;
    height: 0.9em;
    width: 0.9em;
    box-sizing: border-box;
    margin-right: 10px;
    margin-top: 0.3rem;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    border-radius: 0.2em;
    background-color: transparent;
    transition: 0.2s background;
  }
  .todo-content {
    flex: 1;
    > p:last-of-type { margin-bottom: 0; }
    > ul[data-type='todo_list'] { margin: .5rem 0; }
  }
  li[data-done='true'] {
    > .todo-content { > p { text-decoration: line-through; opacity: 0.5; }}
    > .todo-checkbox { background-color: lighten($lightbg-text, 20%); }
  }
  li[data-done='false'] { text-decoration: none; }
  
  // Custom Element Types
  // Footnote
  .footnote {
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: $lightbg-text-dim;
    font-size: 12px;
    margin-top: 30px;
    width: 290px;
    line-height: 16px;
  }
}

//-------------------------
// Navigation Styles
//-------------------------
.nav {
  background-color: $darkbg-color;
  color: $darkbg-text;

  a,a:visited {
    color: $darkbg-link;
    text-decoration: none;
    transition: color 0.2s ease;
    &:hover { color: $darkbg-link-hover; }
  }

}

//-------------------------
// Vue Transitions
//-------------------------
// Fade
.fade-enter-active, .fade-leave-active { transition: opacity .3s ease; }
.fade-enter, .fade-leave-to { opacity: 0; }
// Fade Fast
.fadefast-enter-active, .fadefast-leave-active { transition: opacity 0.15s ease; }
.fadefast-enter, .fadefast-leave-to { opacity: 0; }
// Fade Slow
.fadeslow-enter-active, .fadeslow-leave-active { transition: opacity 1s ease; }
.fadeslow-enter, .fadeslow-leave-to { opacity: 0; }
// Zoom Fade
.zoomfade-enter { opacity:0; }
.zoomfade-enter-active { transition: all .3s ease; }
.zoomfade-leave-active { opacity:0; }
.zoomfade-enter .zoom,
.zoomfade-leave-active .zoom { transform: scale(1.1); }

//-------------------------
// Code Highlighting
//-------------------------
pre,
.content pre {
  background-color: #3c3836;
  color: #eee;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.2;

  &::before {
    content: attr(data-language);
    text-transform: uppercase;
    display: block;
    text-align: right;
    font-weight: bold;
    font-size: 0.6rem;
  }
  code {
    background-color: transparent;
    padding: 0px;
    font-size: 14px;
    line-height: 24px;

    .hljs-comment,
    .hljs-quote {
      color: #999999;
    }
    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f2777a;
    }
    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #f99157;
    }
    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #99cc99;
    }
    .hljs-title,
    .hljs-section {
      color: #ffcc66;
    }
    .hljs-keyword,
    .hljs-selector-tag {
      color: #6699cc;
    }
    .hljs-emphasis {
      font-style: italic;
    }
    .hljs-strong {
      font-weight: 700;
    }
  }
}
