// Encoding: UTF-8
// Gruvbox Color Scheme
// https://github.com/morhetz/gruvbox-contrib
//
// Dark Color Scheme
// -----------------
// bgh     #1d2021;  bgs     #32302f;  gray #928374;
// bg0     #282828;  bg1     #3c3836;  bg2  #504945;  bg3 #665c54;  bg4 #7c6f64;
// fg0     #fbf1c7;  fg1     #ebdbb2;  fg2  #d5c4a1;  fg3 #bdae93;  fg4 #a89984;
// red0    #cc241d;  red1    #fb4934;
// orange0 #d65d0e;  orange1 #fe8019;
// yellow1 #fabd2f;  yellow0 #d79921;
// green0  #98971a;  green1  #b8bb26;
// blue0   #458588;  blue1   #83a598;
// aqua0   #689d6a;  aqua1   #8ec07c;
// purple0 #b16286;  purple1 #d3869b;
//
// Light Color Scheme
// ------------------
// bgh     #f9f5d7;  bgs     #f2e5bc;  gray #928374;
// bg0     #fbf1c7;  bg1     #ebdbb2;  bg2  #d5c4a1;  bg3 #bdae93;  bg4 #a89984;
// fg0     #282828;  fg1     #3c3836;  fg2  #504945;  fg3 #665c54;  fg4 #7c6f64;
// red0    #cc241d;  red1    #9d0006;
// orange0 #d65d0e;  orange1 #af3a03;
// yellow0 #d79921;  yellow1 #b57614;
// green0  #98971a;  green1  #79740e;
// blue0   #458588;  blue1   #076678;
// aqua0   #689d6a;  aqua1   #427b58;
// purple0 #b16286;  purple1 #8f3f71;
@import url('https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.2.95/css/materialdesignicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

$font-serif: 'Montserrat', Helvetica, Arial, sans-serif;
$bounce: cubic-bezier(.47,1.64,.41,.8);

$lightbg-color:      #eeeeee;
$lightbg-text:       #1d2021;
$lightbg-text-dim:   #777777;
$lightbg-link:       #ff0000;
$lightbg-link-hover: #00ff00;
$lightbg-accent:     #d65d0e;

$darkbg-color:       #282828;
$darkbg-text:        #f9f5d7;
$darkbg-text-dim:    #bdae93;
$darkbg-link:        #fbf1c7;
$darkbg-link-hover:  #fe8019;
$darkbg-accent:      #fe8019;
$darkbg-input:       #d79921;


// Style Reset
body, html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: $darkbg-color;
  color: $darkbg-text;
  font-family:$font-serif;
}
*, *:before, *:after { box-sizing: inherit; }
:focus { outline: none !important; }


//-------------------------
// Content Styles
//-------------------------
.content {
  color: $lightbg-text;

  a,a:hover {
    color: #1d2021;
    text-decoration: none;
  }
  h3 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    border-left: 6px solid $lightbg-accent;
    padding-left: 25px;
    span {
      font-size: 16px;
      text-transform: none;
      display: block;
      padding: 3px 0px;
      font-weight: 100;
    }
  }
  h4 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    span.accent { color: $lightbg-accent; }
  }
  p {
    line-height: 28px;
  }
  label {
    font-size: 13px;
    display: block;
    padding: 3px 0px;
    font-weight: 100;
    margin-top: 10px;
  }
  input {
    width: 100%;
    border-radius: 6px;
    border: 2px solid #dddddd;
    background-color: #f8f8f8;
    padding: 10px;
  }
  button {
    background-color: #076678;
    background-image: linear-gradient(#076678, darken(#076678, 5%));
    border-radius: 6px;
    border-width: 0px;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: $darkbg-text;
    cursor: pointer;
    font-weight: 500;
    margin-top: 30px;
    padding: 12px;
    width: 100%;
  }
  dl {
    margin: 10px 0px;
    font-size: 15px;
    line-height: 23px;
    dt {
      width: 60px;
      float: left;
      font-size: 11px;
      margin-right: 10px;
      color: $lightbg-text-dim;
      text-transform: uppercase;
    }
  }
  .footnote {
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: $lightbg-text-dim;
    font-size: 12px;
    margin-top: 30px;
    width: 290px;
    line-height: 16px;
  }
}

//-------------------------
// Navigation Styles
//-------------------------
.nav {
  background-color: $darkbg-color;
  color: $darkbg-text;

  a,a:visited {
    color: $darkbg-link;
    text-decoration: none;
    transition: color 0.2s ease;
    &:hover { color: $darkbg-link-hover; }
  }

}

//-------------------------
// Vue Transitions
//-------------------------
.fade-enter { opacity:0; }
.fade-enter-active { transition: all .3s ease; }
.fade-leave-active { opacity:0; }

.fadeslow-enter { opacity:0; }
.fadeslow-enter-active { transition: all 1s ease; }
.fadeslow-leave-active { opacity:0; }

.zoomfade-enter { opacity:0; }
.zoomfade-enter-active { transition: all .3s ease; }
.zoomfade-leave-active { opacity:0; }
.zoomfade-enter .zoom,
.zoomfade-leave-active .zoom { transform: scale(1.1); }
