// Encoding: UTF-8
// Global color scheme
//
// Gruvbox Dark Color Scheme
// https://github.com/morhetz/gruvbox-contrib
// ------------------------------------------
// bgh     #1d2021;  bgs     #32302f;  gray #928374;
// bg0     #282828;  bg1     #3c3836;  bg2  #504945;  bg3 #665c54;  bg4 #7c6f64;
// fg0     #fbf1c7;  fg1     #ebdbb2;  fg2  #d5c4a1;  fg3 #bdae93;  fg4 #a89984;
// red0    #cc241d;  red1    #fb4934;
// orange0 #d65d0e;  orange1 #fe8019;
// yellow1 #fabd2f;  yellow0 #d79921;
// green0  #98971a;  green1  #b8bb26;
// blue0   #458588;  blue1   #83a598;
// aqua0   #689d6a;  aqua1   #8ec07c;
// purple0 #b16286;  purple1 #d3869b;
//
// Gruvbox Light Color Scheme
// https://github.com/morhetz/gruvbox-contrib
// ------------------------------------------
// bgh     #f9f5d7;  bgs     #f2e5bc;  gray #928374;
// bg0     #fbf1c7;  bg1     #ebdbb2;  bg2  #d5c4a1;  bg3 #bdae93;  bg4 #a89984;
// fg0     #282828;  fg1     #3c3836;  fg2  #504945;  fg3 #665c54;  fg4 #7c6f64;
// red0    #cc241d;  red1    #9d0006;
// orange0 #d65d0e;  orange1 #af3a03;
// yellow0 #d79921;  yellow1 #b57614;
// green0  #98971a;  green1  #79740e;
// blue0   #458588;  blue1   #076678;
// aqua0   #689d6a;  aqua1   #427b58;
// purple0 #b16286;  purple1 #8f3f71;


//-------------------------
// Content Variables
//-------------------------
$content-font: 'Montserrat', Helvetica, Arial, sans-serif;
$content-bg: #eeeeee;
$content-color: #1d2021;
$content-color-light: #888888;
$content-link: '';
$content-link-hover: '';
$content-label: '';

$nav-font: 'Montserrat', Helvetica, Arial, sans-serif;
$nav-bg: #282828;
$nav-color: #f9f5d7;
$nav-link: #fbf1c7;
$nav-link-hover: #fe8019;


// Style Reset
body, html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: $nav-bg;
  color: $nav-color;
  font-family: $nav-font;
}
*, *:before, *:after { box-sizing: inherit; }
:focus { outline: none !important; }


//-------------------------
// Content Styles
//-------------------------
.content {
  color: $content-color;

  a,a:hover {
    color: #1d2021;
    text-decoration: none;
  }
  h3 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    border-left: 6px solid #d65d0e;
    padding-left: 25px;
    span {
      font-size: 16px;
      text-transform: none;
      display: block;
      padding: 3px 0px;
      font-weight: 100;
    }
  }
  h4 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    span {
      color: #d65d0e;
      font-weight: 500;
    }
  }
  p {
    line-height: 28px;
  }
  label {
    font-size: 13px;
    display: block;
    padding: 3px 0px;
    font-weight: 100;
    margin-top: 10px;
  }
  input {
    width: 100%;
    border-radius: 6px;
    border: 2px solid #dddddd;
    background-color: #f8f8f8;
    padding: 10px;
  }
  button {
    background-color: #076678;
    color: #f9f5d7;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border-width: 0px;
    cursor: pointer;
    margin-top: 30px;
  }
  dl {
    margin: 10px 0px;
    font-size: 15px;
    line-height: 23px;
    dt {
      width: 60px;
      float: left;
      font-size: 11px;
      margin-right: 10px;
      color: #888888;
      text-transform: uppercase;
    }
  }
  .footnote {
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: #888888;
    font-size: 12px;
    margin-top: 30px;
    width: 290px;
    line-height: 16px;
  }
}

//-------------------------
// Navigation Styles
//-------------------------
.nav {
  background-color: $nav-bg;
  color: $nav-color;

  a,a:visited {
    color: $nav-link;
    text-decoration: none;
    transition: color 0.2s ease;
    &:hover { color: $nav-link-hover; }
  }

}

//-------------------------
// Vue Transitions
//-------------------------
.fade-enter { opacity:0; }
.fade-enter-active { transition: opacity 0.3s; }

.zoomfade-enter { opacity:0; }
.zoomfade-enter-active { transition: all .3s ease; }
.zoomfade-leave-active { opacity:0; }
.zoomfade-enter .zoom,
.zoomfade-leave-active .zoom { transform: scale(1.1); }
