{% verbatim %}

  <!-- Template:clock -->
  <script id='clock' type='text/x-handlebars-template'>
    <div class='date'>{{now "%A, %b %e, %Y"}}</div>
    <div class='time'>{{now "%l:%M%q"}}</div>
  </script>

  <!-- Template:photo -->
  <script id='photo' type='text/x-handlebars-template'>
    <div class='title'>{{this.photo.title}} {{#if this.photo.title}}|{{/if}} {{this.photo.user}}</div>
    <span class='mdi mdi-autorenew'></span>
    <div class='description'>{{{this.photo.description}}}</div>
  </script>

  <!-- Template:calendar -->
  <script id='calendar' type='text/x-handlebars-template'>
    {{#if events.length}}
      <div class='title'>Upcoming Events</div>
      {{#withBefore events 3}}
        <div class='event'>
          <div class='subject'>{{this.Subject}}</div>
          <div class='details'>
            {{formatDate this.Start '%l:%M'}} - {{formatDate this.End '%l:%M'}}
            {{#if this.Location.DisplayName}}| {{this.Location.DisplayName}}{{/if}}
          </div>
        </div>
      {{/withBefore}}
    {{else}}
      <div class='noevents'>
        No events
      </div>
    {{/if}}
  </script>

  <!-- Template:weather -->
  <script id='weather' type='text/x-handlebars-template'>
    <div class='weather-today'>
      <div class='weather-today-details'>
        <div class='weather-temp'>{{toInt weather.currently.temperature}}°F</div>
        <div class='weather-feelslike'>Feels: {{toInt weather.currently.apparentTemperature}}°</div>
      </div>
      <div class='weather-today-icon'>
        <i class='diw-{{ds2wuIcon weather.currently.icon}}'></i>
      </div>
      <div class='weather-today-summary'>
        <div class='weather-location'>Watertown</div>
        <div class='weather-description'>{{weather.currently.summary}}</div>
      </div>
    </div>
    <div class='forecast' style='clear:both'>
      {{#withBefore weather.daily.data 5}}
        <div class='forecast-day'>
          <div class='forecast-weekday'>{{formatDate this.time '%a'}}</div>
          <i class='diw-{{ds2wuIcon this.icon}}'></i>
          <div class='forecast-temp'>{{toInt this.temperatureMax}}°</div>
        </div>
      {{/withBefore}}
    </div>
  </script>

  <!-- Template:news -->
  <script id='news' type='text/x-handlebars-template'>
    <div class='title'><p style='-webkit-box-orient:vertical'>
      <a target='_blank' href='{{article.url}}'>{{article.title}}</a>
    </p></div>
    <div class='subtext'>
      {{timeAgo article.created_utc}} |
      <a target='_blank' href='{{article.redditurl}}'>{{article.subreddit}}</a> |
      <a target='_blank' href='https://{{article.domain}}'>{{article.domain}}</a>
    </div>
  </script>

  <!-- Template:tasks -->
  <script id='tasks' type='text/x-handlebars-template'>
    {{#if tasks.length}}
      <div class='title'>My Tasks</div>
      {{#withBefore tasks 4}}
        <div class='task'>{{this.title}}</div>
      {{/withBefore}}
    {{else}}
      <div class='notasks'>
        No tasks
      </div>
    {{/if}}
  </script>

  <!-- Template:chess -->
  <script id='chess' type='text/x-handlebars-template'>
    <script src='https://lichess.org/tv/embed?theme=grey&bg=dark'></script>
  </script>
{% endverbatim %}