{% load basefilters %}
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <title>{% block title %}{% endblock %}{{settings.SITE_NAME}}</title>
    <link rel='shortcut icon' href='/static/site/img/favicon.ico'/>
    <link rel='stylesheet' type='text/css' href='/static/bootstrap/css/bootstrap.min.css'/>
    <link rel='stylesheet' type='text/css' href='/static/mdi/css/materialdesignicons.min.css'/>
    <link rel='stylesheet' type='text/css' href='/static/wu-icons/wu-icons-style.min.css'/>
    <link rel='stylesheet' type='text/css' href='/static/site/site.css'/>
    <link rel='stylesheet' type='text/css' href='/static/site/font/dripicons/dripicons-weather.css'/>
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600|Roboto+Mono|Crimson+Text|Cabin:400,500,600'/>
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class='hidecursor' id='focus'>
      <div id='clock' style='display:none'></div>
      <div id='calendar' style='display:none'></div>
      <div id='weather' style='display:none'></div>
      <div id='news' style='display:none'></div>
      <div id='tasks' style='display:none'></div>
      <div id='chess' style='display:none'></div>
      <div id='ip' style='display:none'></div>
    </div>
  </body>
  <script src='/static/jquery/jquery.min.js'></script>
  <script src='/static/moment/moment.min.js'></script>
  <script src='/static/handlebars/handlebars.min.js'></script>
  <script src='/static/site/site.js'></script>
  <script type='text/javascript'>
    $(function() { pk.focus.init('#focus'); });
  </script>
  {% include 'handlebars/focus.tmpl' %}
</html>