/*-------------------------------------------
 * Content.css
 *------------------------------------------- */

/*
 * Material Design Icons
 * Customizes how the mdi icons are displayed.
 * https://pictogrammers.com/library/mdi/
 */
.mdi {
  width: 1em;
  height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/*
 * Subtext
 * General style for smaller text under another main heading.
 * Quick and dirty, but I use this everywhere.
 */
.subtext {
  font-size: 0.7em;
  opacity: 0.6;
  margin-top: -2px;
}

/*
 * Empty Row
 * Fake empty loading content
 */
.lightbg .empty-row {
  background-color: transparent;
  animation: fade-lightbg 0.6s;
  animation-fill-mode: forwards;
  border-radius: 3px;
  height: 15px;
  margin-bottom: 5px;
  &.small { height: 12px; }
  &.big { height: 20px; }
  &.short { margin-right: 20%; }
}
@keyframes fade-lightbg {
  from { background-color: transparent; }
  to { background-color: #0001; }
}

.darkbg .empty-row {
  background-color: transparent;
  animation: fade-darkbg 0.6s;
  animation-fill-mode: forwards;
  border-radius: 3px;
  height: 15px;
  margin-bottom: 5px;
  &.small { height: 12px; }
  &.big { height: 20px; }
  &.short { margin-right: 20%; }
}
@keyframes fade-darkbg {
  from { background-color: transparent; }
  to { background-color: #fff1; }
}

/*
 * Data List
 * dl, dt, dd
 */
dl {
  display: grid;
  grid-row-gap: 2px;
  font-size: 13px;
  margin: 10px 0px;
}
dt {
  color: var(--lightbg-fg4);
  grid-column-start: 1;
  margin-right: 15px;
  text-transform: uppercase;
}
dd {
  overflow-x: hidden;
  text-overflow: ellipsis;
}
