*, *::before, *::after {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
}

body {
  color: #ddd;
  /* background: #111; */
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, Roboto, Oxygen, Ubuntu, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

.gridbg {
  --bgcolor: #f2f2ee;
  --bgline: #d5dcff;
  background:
      linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
      linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), 
      linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
      linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
      linear-gradient(transparent 3px, var(--bgcolor) 3px, var(--bgcolor) 78px, transparent 78px),
      linear-gradient(-90deg, var(--bgline) 1px, transparent 1px),
      linear-gradient(-90deg, transparent 3px, var(--bgcolor) 3px, var(--bgcolor) 78px, transparent 78px),
      linear-gradient(var(--bgline) 1px, transparent 1px),
      var(--bgcolor);
  background-size: 4px 4px, 4px 4px, 80px 80px, 80px 80px, 80px 80px, 80px 80px, 80px 80px, 80px 80px;
}
