
:root {
  /*-------------------------------------------
   * Website Fonts
   *------------------------------------------- */
  --fontfamily-title: 'Merriweather', sans-serif;
  --fontfamily-article: 'Merriweather', sans-serif;
  --fontfamily-subtext: 'Open Sans', sans-serif;
  --fontfamily-artsy: 'Merriweather', sans-serif;
  --fontfamily-code: 'Roboto Mono', monospace;

  /*-------------------------------------------
   * Gruvbox Color Scheme
   * https://github.com/morhetz/gruvbox-contrib
   *------------------------------------------- */
  --lightbg-bg0: #f8f8f8;
  --lightbg-bg1: #f2f2ee;
  --lightbg-bg2: #e1e1e1;
  --lightbg-bg3: #d5d5d5;
  --lightbg-bg4: #cbcbcb;
  --lightbg-bg5: #a89984;
  --lightbg-bgh: #f9f5d7;
  --lightbg-bgs: #f2e5bc;
  --lightbg-fg0: #282828;
  --lightbg-fg1: #3c3836;
  --lightbg-fg2: #504945;
  --lightbg-fg3: #665c54;
  --lightbg-fg4: #7c6f64;
  --lightbg-gray: #928374;
  --lightbg-red0: #cc241d;
  --lightbg-red1: #9d0006;
  --lightbg-orange0: #d65d0e;
  --lightbg-orange1: #af3a03;
  --lightbg-yellow0: #d79921;
  --lightbg-yellow1: #b57614;
  --lightbg-green0: #98971a;
  --lightbg-green1: #79740e;
  --lightbg-green2: #58881b;
  --lightbg-blue0: #458588;
  --lightbg-blue1: #065c6c;
  --lightbg-aqua0: #689d6a;
  --lightbg-aqua1: #427b58;
  --lightbg-purple0: #b16286;
  --lightbg-purple1: #8f3f71;

  --darkbg-bg0: #282828;
  --darkbg-bg1: #444444;
  --darkbg-bg2: #666666;
  --darkbg-bg3: #665c54;
  --darkbg-bg4: #7c6f64;
  --darkbg-bgh: #1d2021;
  --darkbg-bgs: #32302f;
  --darkbg-fg0: #fbf1c7;
  --darkbg-fg1: #ebdbb2;
  --darkbg-fg2: #d5c4a1;
  --darkbg-fg3: #bdae93;
  --darkbg-fg4: #a89984;
  --darkbg-gray: #928374;
  --darkbg-red0: #cc241d;
  --darkbg-red1: #fb4934;
  --darkbg-orange0: #d65d0e;
  --darkbg-orange1: #fe8019;
  --darkbg-yellow1: #fabd2f;
  --darkbg-yellow0: #d79921;
  --darkbg-green0: #98971a;
  --darkbg-green1: #b8bb26;
  --darkbg-blue0: #458588;
  --darkbg-blue1: #83a598;
  --darkbg-aqua0: #689d6a;
  --darkbg-aqua1: #8ec07c;
  --darkbg-purple0: #b16286;
  --darkbg-purple1: #d3869b;
}

/*-------------------------------------------
 * CSS Reset
 *------------------------------------------- */
 *, *::before, *::after {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
}
html, body {
  font-family: 'Merriweather', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mdi {
  width: 1em;
  height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/*-------------------------------------------
 * Basic Colors
 *------------------------------------------- */
.lightbg {
  --accent: var(--lightbg-orange0);
  --bgcolor: var(--lightbg-bg1);
  --dim: var(--lightbg-fg4);
  --fgcolor: var(--lightbg-fg1);
  --fgcolor60: #84827f;
  --fgcolor40: #777060;
  --linkcolor: var(--lightbg-blue1);
  --linkhover: #000;
  --linkhoverunderline: 2px dotted var(--linkhover);
}
.darkbg {
  --accent: var(--darkbg-orange1);
  --bgcolor: var(--darkbg-bg0);
  --dim: var(--darkbg-fg3);
  --fgcolor: var(--darkbg-fg1);
  --fgcolor60: #9d947b;
  --fgcolor40: #777060;
  --linkcolor: var(--darkbg-fg0);
  --linkhover: var(--darkbg-orange1);
  --linkhoverunderline: 2px dotted transparent;
}
.lightbg,.darkbg {
  background-color: var(--bgcolor);
  color: var(--fgcolor);
  a,a:visited {
    color: var(--linkcolor);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    border-bottom: 2px dotted transparent;
  }
  a:hover {
    color: var(--linkhover);
    border-bottom: var(--linkhoverunderline);
    text-decoration: none; 
  }
  ::selection {
    background: #8886 !important; /* Sets the background color to yellow */
    color: #333 !important;      /* Sets the text color to black */
  }
}


/*-------------------------------------------
 * Basic Content
 *------------------------------------------- */
*, *::before, *::after, *:focus {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
}
*:focus {
  outline: 0px none transparent;
  border-bottom: 2px dotted var(--accent);
}
html,body {
  font-family: "Merriweather", sans-serif;
  /* font-family: Inter,Roboto,Ubuntu,sans-serif; */
  font-size: 15px;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,button,input,select,textarea {
  font-weight: 400;
  color: var(--lightbg-text);
}
.subtext {
  font-size: 0.7em;
  opacity: 0.6;
  margin-top: -2px;
}

/*-------------------------------------------
 * Custom Scrollbars
 *------------------------------------------- */
body.firefox * { scrollbar-color:#8888 transparent; }
body.chrome {
  ::-webkit-scrollbar { width:6px; height:6px; }
  ::-webkit-scrollbar-thumb { background:#8888; border-radius:3px; }
  ::-webkit-scrollbar-track, ::-webkit-scrollbar-corner { display:none; }
}

/*-------------------------------------------
 * Sidepanel Menus
 *------------------------------------------- */
.sidepanel-panel:has(.menu) {
  overflow-y: auto;
  .menu {
    color: var(--linkcolor);
    margin-bottom: 30px;
    margin-top: 30px;
    .item {
      border-bottom: 0px solid #0000;
      border-left: 3px solid transparent;
      font-size: 16px;
      margin-top: 20px;
      overflow: hidden;
      padding: 7px 20px 10px 20px;
      text-overflow: ellipsis;
      transition: all 0.3s ease;
      white-space: nowrap;
    }
    .subitem {
      border-left: 3px solid transparent;
      font-size: 12px;
      min-height: 27px;
      color: var(--fgcolor60);
      padding: 3px 20px 3px 57px;
      transition: all 0.3s ease;
      .name { float: left; }
      .balance { text-align: right; }
      .lastupdate { font-size:9px; color:var(--fgcolor40);}
    }
    .link:hover, .link:focus, .link.selected {
      background-color: #fff1;
      border-left: 3px solid var(--accent);
      color: var(--fgcolor);
      cursor: pointer;
      user-select: none;
    }
    .mdi {
      font-size: 22px;
      margin-right: 10px;
      position: relative;
      top: 2px;
    }
  }
}

/*-------------------------------------------
 * Sidepanel Search
 *------------------------------------------- */
.sidepanel-panel .searchwrap {
  position: relative;
  display: flex;
  align-items: center;
  .searchinput, .searchinput:focus {
    background-color: #0003;
    border-radius: 0px;
    border-width: 0px;
    box-shadow: none;
    color: var(--accent);
    line-height: 40px;
    outline: none;
    padding: 0px 30px 0px 38px;
    width: 100%;
  }
  .mdi.mdi-magnify {
    position: absolute;
    font-size: 19px;
    left: 10px;
  }
  .mdi.mdi-close {
    position: absolute;
    font-size: 14px;
    right: 10px;
    transition: opacity 0.3s ease;
  }
}

/*-------------------------------------------
 * Article
 *------------------------------------------- */
article {
  padding: 40px;
  font-size: 15px;
  color: var(--lightbg-fg2);
  font-family: 'Inter';
  font-weight: 100;

  h1 {
    font-family: 'Merriweather';
    font-size: 30px;
    margin-bottom: 30px;
    &:after {
      border-bottom: 2px solid var(--lightbg-orange0);
      content: " ";
      display: block;
      height: 10px;
      width: 300px;
    }
    .subtext {
      font-size: 0.5em;
      color: var(--lightbg-fg2);
      margin-top: -5px;
      opacity: 1;
    }
  }
  h2 {
    font-size: 20px;
    font-family: 'Merriweather';
    margin: 30px 0px 15px 0px;
  }
  h3 {
    font-family: 'Merriweather';
    font-size: 18px;
    margin: 20px 0px 10px 0px;
  }
  p {
    font-size: 15px;
    margin-block-end: 12px;
    margin-block-start: 12px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
  }
  strong {
    font-weight: bold;
  }
  ul, ol {
    font-size: 15px; 
    padding-left: 30px;
    margin-block-end: 12px;
    margin-block-start: 12px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;

    li p, ul p { margin: 0px; }
    ul, ol {
      margin-top: 0px !important;
      margin-bottom: 3px !important;
      padding-left: 20px !important;
    }
  }
  ul li { list-style-type: disc; }
  ol li { list-style-type: decimal; }
  p > code {
    color: var(--lightbg-fg3);
  }
  code {
    border-radius: 3px;
    font-family: var(--fontfamily-code);
    font-size: 0.8em;
    font-weight: 400;
    margin: 0px 1px;
    padding: 2px 4px;
  }
}

/*-------------------------------------------
 * Customized Gruxbox Highlight.js Theme
 *------------------------------------------- */
[theme='gruvbox-light-hard'] {
  .hljs {
    background-color: #ddddd9 !important;
    color: var(--lightbg-fg1);
  }
  .hljs-comment { color: #7e6449 !important; }
}


/* Language Label */
.md-codearea {
  position: relative;
  padding: 10px 20px;
  border-radius: 6px;
  line-height: 1.3;
  margin: 0px;
  code {
    padding: 0px;
    margin: 0px;
  }
  label {
    display: block;
    font-size: 10px;
    margin: 0px;
    opacity: 0;
    position: absolute;
    right: 6px;
    top: 4px;
    transition: all 1s ease;
  }
  &:hover label {
    opacity: 0.8;
  }
}

/*-------------------------------------------
 * Forms
 *------------------------------------------- */
label {
  margin-top: 10px;
  font-family: "Merriweather", sans-serif;
  font-size: 12px;
  color: var(--lightbg-fg3);
}
input,textarea,select {
  font-family: "Merriweather", sans-serif;
  font-size: 15px;
  color: var(--lightbg-fg1);
  padding: 5px 8px;
  background-color: var(--lightbg-bg0);
  border: 1px solid var(--lightbg-bg3);
  border-radius: 4px;
  border-bottom: none;
  box-shadow: transparent 0px 0px 0px 2px, #1111 0px 1px 3px 0px inset;
  transition:
    outline 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease,
    border-bottom 0.3s ease;
  &:focus {
    outline: none;
    box-shadow: var(--accent) 0px 0px 0px 2px, #1111 0px 1px 3px 0px inset;
    background-color: #fff;
    border-bottom: none;
  }
}
button {
  background-color: var(--lightbg-bg3);
  border-width: 0px;
  border-radius: 2px;
  cursor: pointer;
  color: var(--lightbg-fg3);
  display: inline-block;
  width: auto;
  font-family: "Merriweather", sans-serif;
  font-size: 12px;
  justify-content: center;
  padding: 6px 20px;
  transition: all 0.2s ease;
  user-select: none;
  align-self: flex-start;
  &:focus {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    box-shadow: none;
    outline: none;
    color: var(--lightbg-fg1);
  }
  &:hover {
    background-color: var(--lightbg-blue1);
    color: #fff;
  }
}

/*-------------------------------------------
 * Data List
 * dl, dt, dd
 *------------------------------------------- */
dl {
  display: grid;
  grid-row-gap: 2px;
  font-size: 13px;
  margin: 10px 0px;
}
dt {
  color: var(--lightbg-fg4);
  grid-column-start: 1;
  margin-right: 15px;
  text-transform: uppercase;
}
dd {
  overflow-x: hidden;
  text-overflow: ellipsis;
  
}


/*-------------------------------------------
 * Close
 * Animated close or clear button
 *------------------------------------------- */
.mdi-close {
  background: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 20px;
  opacity: 0.6;
  padding: 5px;
  transition: all 0.2s ease;
  transition-timing-function: steps(10, end);
  z-index: 1001;
  &:hover {
    opacity: 1;
    animation: spin 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  80% { transform: rotate(100deg); }
  100% { transform: rotate(90deg); }
}


/*-------------------------------------------
 * Vue Transitions
 *------------------------------------------- */
/* Fade */
.fade-enter-active, .fade-leave-active { transition: opacity 0.3s ease; }
.fade-enter-from, .fade-leave-to { opacity: 0; }

/* Slide Fade */
/* adjust `style:--max-height:100px` to your content on the Transition */
.slide-fade-enter-active, .slide-fade-leave-active { transition: all 0.3s ease; }
.slide-fade-enter-from, .slide-fade-leave-to { max-height:0px; opacity:0; }
.slide-fade-enter-to, .slide-fade-leave-from { max-height:var(--maxheight); opacity:1; }

/*-------------------------------------------
 * Grid Background
 * Grid pattern filler content
 *------------------------------------------- */
.gridbg {
  --bgcolor: var(--lightbg-bg1);
  --bgline: var(--lightbg-bg3);
  background:
      linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
      linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), 
      linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
      linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
      linear-gradient(transparent 3px, var(--bgcolor) 3px, var(--bgcolor) 78px, transparent 78px),
      linear-gradient(-90deg, var(--bgline) 1px, transparent 1px),
      linear-gradient(-90deg, transparent 3px, var(--bgcolor) 3px, var(--bgcolor) 78px, transparent 78px),
      linear-gradient(var(--bgline) 1px, transparent 1px),
      var(--bgcolor);
  background-size: 4px 4px, 4px 4px, 80px 80px, 80px 80px, 80px 80px, 80px 80px, 80px 80px, 80px 80px;
}

/*-------------------------------------------
 * Horizontal Ruler
 * A fancier hr style
 *------------------------------------------- */
hr {
  background-color: var(--lightbg-bg3);
  background: linear-gradient(90deg, transparent, var(--lightbg-bg3) 10%, var(--lightbg-bg3) 90%, transparent 100%);
  height: 1px;
  width: 50%;
  margin: 50px auto;
}

/*-------------------------------------------
 * Vignette
 * Add vignette to a div with a bg image
 *------------------------------------------- */
.vignette {
  position: relative;
  &::after {
    background: radial-gradient(circle, transparent, #0008);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    content: '';
    height: 100%; width: 100%;
    position: absolute;
    top: 0; left: 0;
  }
}

/*-------------------------------------------
 * Rotate Bounce Animation
 * Visual indicator a text link was clicked
 *------------------------------------------- */
.rotate-bounce {
  animation: rotate-bounce 0.5s linear;
  transform-origin: center;
}
@keyframes rotate-bounce {
  0%, 20%, 50%, 80%, 100% { transform: rotate(0deg); }
  40% { transform: rotate(8deg); }
  60% { transform: rotate(-5deg); }
}

