{% verbatim %}
  <!-- Template:editor -->
  <script id='editor' type='text/x-handlebars-template'>
    <div id='editor' style='display:none;'>
      <div class='slider'><div class='grip'></div></div>
      <div class='menu'>
        <span class='menutitle'>Markdown Editor</span>
        <span class='reset action'>Reset</span>
        <span class='save action'>Save</span>
        <span class='toggle action'><i class='mdi mdi-chevron-down'></i></span>
        <span class='delete action'>Delete</span>
        <span class='spinner'></span>
        <span class='message'></span>
      </div>
      {{#if this.opts.show_title}}<input type='text' name='title' class='title' placeholder='Title' autocomplete='off' value=''/>{{/if}}
      <textarea style='display:none;'></textarea>
      {{#if this.opts.show_includes}}<div class='includes'>Includes: </div>{{/if}}
      {{#if this.opts.show_tags}}<input type='text' name='tags' class='tags' placeholder='Tags' autocomplete='off' value=''/>{{/if}}
    </div>
  </script>
{% endverbatim %}
