# Install and configure certbot for letsencrypt.
---
- name: Install Certbot
  apt:
    name:
    - certbot
    - python-certbot-nginx

- name: Check SSL Certificates
  stat:
    path: '/etc/letsencrypt/live/{{project_name}}.com/cert.pem'
  register: cert

- name: Fetch Email From Secrets
  command: 'python {{project_dir}}/settings/secrets.py EMAIL'
  register: email
  when: not cert.stat.exists

- name: Generate New SSL Certitificate
  shell: 'certbot certonly --nginx --noninteractive --agree-tos --email {{email.stdout}} -d {{project_name}}.com,www.{{project_name}}.com'
  when: not cert.stat.exists

- name: Create Certbot Cronjob
  cron:
    name: certbot-renew
    job: 'certbot renew --quiet --no-self-upgrade >> {{logs_dir}}/certbot.log 2>&1'
    minute: '0'
    hour: '1'
