# Nginx site configuration for CodeServer

# Serve Acme Challenge for LetsEncrypt.
# Redirect HTTP www domain to non-www domain.
server {
  listen 80;
  server_name code.{{project_name}}.com;
  location / {
    return 301 https://code.{{project_name}}.com$request_uri;
  }
}

# Serve HTTPS domain
server {
  listen 443 ssl;
  server_name code.pushingkarma.com;
  ssl_prefer_server_ciphers on;
  ssl_stapling on;
  ssl_stapling_verify on;
  ssl_certificate /etc/letsencrypt/live/code.pushingkarma.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/code.pushingkarma.com/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/code.pushingkarma.com/fullchain.pem;
  location / {
    proxy_pass http://localhost:8080/;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection upgrade;
    proxy_set_header Accept-Encoding gzip;
  }
}
