# Systemd Script for uWSGI.
# location: /etc/systemd/system/
[Unit]
Description=Daphne Server for PushingKarma
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory={{project_dir}}
ExecStart={{virtualenv}}/bin/daphne -u {{project_dir}}/web.sock pk.asgi:application
Restart=always

[Install]
WantedBy=multi-user.target
