# Systemd Script for Daphne.
# location: /etc/systemd/system/
[Unit]
Description=Daphne

[Service]
ExecStart=/usr/local/bin/uwsgi --master --emperor /etc/uwsgi/sites --die-on-term --uid www-data --gid www-data --logto {{logs}}/uwsgi.log
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -INT $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=daphne.service
