# Nginx site configuration

# Serve Acme Challenge for LetsEncrypt.
# Redirect HTTP www domain to non-www domain.
server {
  listen 80;
  listen [::]:80 ipv6only=on;
  server_name {{project_name}}.com www.{{project_name}}.com;
  location / {
    return 301 https://{{project_name}}.com$request_uri;
  }
}

# Redirect HTTPS www domain to non-www domain.
server {
  listen 443 ssl;
  listen [::]:443 ssl;
  server_name www.{{project_name}}.com;
  add_header Strict-Transport-Security "max-age=31536000";
  ssl_prefer_server_ciphers on;
  ssl_stapling on; ssl_stapling_verify on;
  ssl_certificate /etc/letsencrypt/live/{{project_name}}.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{project_name}}.com/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/{{project_name}}.com/fullchain.pem;
  return 301 https://{{project_name}}.com$request_uri;
}

# Serve HTTPS non-www domain (static, ws, django).
server {
  listen 80;
  listen 443 ssl;
  listen [::]:443 ssl;
  server_name {{project_name}}.com;
  add_header Strict-Transport-Security "max-age=31536000";
  access_log {{project_dir}}/_logs/nginx-access.log;
  error_log {{project_dir}}/_logs/nginx-error.log;
  ssl_prefer_server_ciphers on;
  ssl_stapling on;
  ssl_stapling_verify on;
  ssl_certificate /etc/letsencrypt/live/{{project_name}}.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{project_name}}.com/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/{{project_name}}.com/fullchain.pem;
  location /static/ {
    alias {{project_dir}}/_static/;
  }
  # location /ws/ {
  #   proxy_pass http://unix:{{project_dir}}/web.sock;
  #   proxy_http_version 1.1;
  #   proxy_set_header Upgrade $http_upgrade;
  #   proxy_set_header Connection "upgrade";
  #   proxy_buffers 8 32k;
  #   proxy_buffer_size 64k;
  # }
  location / {
    proxy_pass http://unix:{{project_dir}}/daphne.sock;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    # proxy_buffers 8 32k;
    # proxy_buffer_size 64k;
  }
}
