// Encoding: UTF-8
$highlight: transparent;
//$highlight: rgba(255,0,0,0.1);

#focus {
  $color: #fff;
  $dim: rgba(255,255,255,0.8);
  color: $color;
  font-family: 'Josefin Sans';
  position: relative;
  text-shadow: 0px 1px 3px rgba(0,0,0,0.8);
  a,a:hover,a:visited { color:$color }

  // Clock
  #clock {
    background-color: $highlight;
    left: calc(50% - 150px);
    position: absolute;
    text-align: center;
    top: 20px;
    width: 300px;
    .date {
      color: $dim;
      font-size: 23px;
      margin-bottom: -15px;
    }
    .time {
      font-size: 60px;
    }
  }

  #photo {
    background-color: $highlight;
    font-size: 12px;
    color: $dim;
    position: absolute;
    top: 120px;
    left: calc(50% - 200px);
    width: 400px;
    text-align: center;
  }

  // Calendar
  #calendar {
    background-color: $highlight;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 400px;
    .title {
      border-bottom: 1px solid rgba(255,255,255,0.3);
      color: $dim;
      font-size: 16px;
    }
    .event {
      margin-top:3px;
    }
    .subject {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .details {
      color: $dim;
      font-size: 12px;
      overflow: hidden;
      position: relative;
      text-overflow: ellipsis;
      top: -5px;
      white-space: nowrap;
    }
    .noevents {
      color: rgba(255,255,255,0.2);
      font-size: 20px;
    }
  }


  // Weather
  #weather {
    background-color: $highlight;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 350px;
    .weather-today {
      font-size: 16px;
      line-height: 14px;
      text-align: right;
      & > div { float:right; padding-left:30px; }
      .weather-location { font-size:25px; line-height:27px; padding:4px 0px 4px 0px;}
      .weather-today-icon { font-size:50px; }
      .weather-temp { font-size:35px; line-height:36px; }
    }
    .forecast {
      color: $dim;
      float: right;
      font-size: 14px;
      line-height: 16px;
      padding-top: 20px;
      width: 275px;

      .forecast-day { width:30px; margin-left:25px; text-align:center; float:left; }
      .forecast-weekday { padding-bottom:2px; }
      [class^='diw-']:before { font-size:20px; }
      .forecast-temp { padding-top:6px; }
    }
  }

  // Tasks
  #tasks {
    background-color: $highlight;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 275px;
    .title {
      border-bottom: 1px solid rgba(255,255,255,0.3);
      color: $dim;
      font-size: 16px;
      margin-bottom: 3px;
    }
    .task {
      position: relative;
      padding-left: 20px;
      &:before {
        content: ' ';
        position: absolute;
        border: 2px solid $dim;
        border-radius: 3px;
        width: 10px;
        height: 10px;
        top: 7px;
        left: 3px;
      }
    }
    .notasks {
      font-size: 20px;
      color: rgba(255,255,255,0.2);
    }
  }

  // news
  #news {
    background-color: $highlight;
    bottom: 20px;
    max-height: 65px;
    left: 20px;
    position: absolute;
    width: 700px;
    .title p {
      display: -webkit-box;
      font-size: 20px;
      line-height: 22px;
      margin: 0px;
      max-height: 44px;
      overflow: hidden;
      -webkit-line-clamp: 2;
    }
    .subtext {
      font-size: 12px;
      color: $dim;
    }
  }

  // IP Address
  #ip {
    background-color: $highlight;
    bottom: 2px;
    color: rgba(255,255,244,0.2);
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    right: 5px;
    text-align: right;
    width: 150px;
  }
}


// Newtab
#newtab {
  background-color: #f8f8f8;
  background-size: cover;
  background-position: center center;
  height: 100% !important;
  body {
    padding: 0px;
    height: 100%;
  }
  #focus {
    height: 100%;
  }
}


// Raspi
#raspi #focus {
  $color: #e5d9c0;
  $dim: darken($color, 15%);

  background-color: #000;
  color: $color;
  width: 800px;
  height: 480px;
  margin: auto auto;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
  text-shadow: none;
  a,a:hover,a:visited { color:$color }
  &.hidecursor { cursor: none; }

  #clock {
    left: 20px;
    top: 20px;
    width: 300px;
    text-align: left;
    .date { color: $dim; }
  }
  #photo {
    display: none !important;
  }
  #calendar {
    left: 20px;
    top: 140px;
    width: 400px;
    .title { color: $dim; }
    .details { color: $dim; }
  }
  #weather {
    right: 20px;
    top: 20px;
    width: 350px;
    .forecast { color: $dim; }
  }
  #tasks {
    right: 20px;
    left: auto;
    top: 190px;
    width: 275px;
    .title { color: $dim; }
  }
  #news {
    bottom: 20px;
    height: 65px;
    margin-left: 50px;
    width: 700px;
    .subtext { color: $dim; }
  }
  #ip {
    bottom: 2px;
    right: 5px;
    width: 150px;
    text-align: right;
  }
}
