// Encoding: UTF-8
$LAYOUT_WIDTH: 1000px;
$LAYOUT_BORDER_WIDTH: 13px;

html {
  background-attachment: fixed;
  background-color: #301c0f;
  background-image: url('#{$imgroot}/layout/background-hardwood.jpg');
  background-position: center top;
  color: #eee;
  font-size: 14px;
}
body {
  background-color: transparent;
  font-family: $font-family-serif;
  font-size: 18px;
  padding: 25px 0px 15px 0px;
}
#layoutwrap {
  margin: 0px auto;
  width: $LAYOUT_WIDTH;
}
#layout {
  border-radius: 8px;
  background-color: #DAD5C1;
  background-image: url('#{$imgroot}/layout/background-noise.jpg');
  background-position: center top;
  border: 2px solid #111;
  color: #504E41;
  font-family: $font-family-serif;
  position: relative;
  width: $LAYOUT_WIDTH;
  &:before {
    content: ' ';
    border-radius: 18px;
    position: absolute;
    z-index: -1;
    top: -$LAYOUT_BORDER_WIDTH;
    left: -$LAYOUT_BORDER_WIDTH;
    right: -$LAYOUT_BORDER_WIDTH;
    bottom: -$LAYOUT_BORDER_WIDTH;
    background-color: rgba(0,0,0,0.3);
  }
  & > .container-fluid {
    padding: 0px;
  }
}
header {
  @include clearfix();
  @include shine(0.8);
  background-color: #252525;
  background-image: url('#{$imgroot}/layout/banner-china.jpg');
  background-position: 0px -20px;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: inset 0px 0px 60px rgba(0,0,0,0.6);
  height: 220px;
  overflow: hidden;
  position: relative;
}
footer {
  color: rgba(255,255,255,0.4);
  font-family: $font-family-serif;
  font-size: 12px;
  line-height: 16px;
  margin: 15px auto;
  text-align: right;
  clear: both;
  width: $LAYOUT_WIDTH;
  a { color:rgba(255,255,255,0.6); }
  a:hover { color:rgba(255,255,230,0.8); text-decoration:none; }
}

#logo {
  @include shine(0.3);
  background-color: rgba(0,0,0,0.5);
  background-image: url('#{$imgroot}/layout/logo.png');
  background-position: 17px 5px;
  background-repeat: no-repeat;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
  float: left;
  min-height: 65px;
  margin-top: 120px;
  position: relative;
  text-shadow: none;
  width: 277px;

  &:hover,
  &.enabled { background-color: rgba(0,0,0,0.8); }
  .title, .subtitle { display: none; }
}


// Login Form
#logo {
  color: #aaa;
  font-size: 12px;
  transition: height 0.5s ease, margin 0.5s ease;

  a {
    color: #FFA500;
    &:hover { color: lighten(#FFA500, 15%); }
  }

  form {
    animation-duration: 0.7s;
    height: 0px;
    margin-top: 65px;
    overflow: hidden;
    padding: 0px 0px 0px 20px;
    position: relative;
    transition: all 0.5s ease;

    input, button {
      background-color: rgba(255,255,255,0.1);
      border-width: 0px;
      color: #eee;
      float: left;
      font-size: 12px;
      margin-right: 5px;
      width: 105px;
      &::selection { background: #ffb7b7; }
    }
    & > * {
      opacity: 0;
      transition: all 0.5s;
      transition-delay: 0s;
    }

    button {
      background-color: rgba(255,255,255,0.2);
      border-radius: 2px;
      cursor: default;
      width: 25px;
      cursor: pointer;
    }

    span.icon-notification {
      color: rgba(255,0,0,0.9);
      left: 220px;
      opacity: 0;
      position: absolute;
      top: 2px;
      transition: opacity 0.3s ease;
    }

    &.error input[name=password] { padding-right: 25px; }
    &.error span.icon-notification { opacity:1; }
  }

  &.enabled {
    margin-top: 90px;
    form {
      height: 45px;
      padding-left: 20px;
      & > * { opacity: 1; transition-delay: 0.2s; }
    }
  }
}


// No transitions during preload
body.preload .no-preload-animation {
  transition: none !important;
}
