// Encoding: UTF-8

$color-bright: #eee;
$color: #ccc;
$color-dim: #aaa;


#raspi {
  background-color: #111;
  color: $color;
  width: 800px;
  height: 480px;
  margin: auto auto;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
  position: relative;
  font-family: 'Josefin Sans';
  &.hidecursor { cursor: none; }
  a,a:hover,a:visited { color:$color } 

  // Clock
  #clock {
    top: 20px;
    left: 20px;
    position: absolute;
    .date {
      font-size: 23px;
      color: $color-dim;
      margin-bottom: -15px;
    }
    .time { font-size: 60px; }
  }


  // Weather
  #weather {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 300px;
    .weather-today {
      font-size: 16px;
      line-height: 14px;
      text-align: right;
      & > div { float:right; padding-left:30px; }
      .weather-location { font-size:25px; line-height:27px; padding:4px 0px 4px 0px;}
      .weather-today-icon { font-size:50px; }
      .weather-temp { font-size:35px; line-height:36px; }
    }
    .forecast {
      color: $color-dim;
      float: right;
      font-size: 14px;
      line-height: 16px;
      padding-top: 20px;
      width: 255px;

      .forecast-day { width:35px; margin-left:20px; text-align:center; float:left; }
      .forecast-day:first-child { margin-left:0px; }
      .forecast-weekday { padding-bottom:2px; }
      [class^='diw-']:before { font-size:20px; }
      .forecast-temp { padding-top:6px; }

    }
  }

  // news
  #news {
    bottom: 20px;
    height: 65px;
    margin-left: 50px;
    position: absolute;
    width: 700px;
    .title p {
      display: -webkit-box;
      font-size: 20px;
      line-height: 22px;
      margin: 0px;
      max-height: 44px;
      overflow: hidden;
      -webkit-line-clamp: 2;
    }
    .subtext {
      font-size: 12px;
      color: $color-dim;
    }
  }

  // Chess
  #chess {
    display: none;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}
