{% comment %}<!--
Budget data attributes:
  data-id: ID of the item being displayed.
  data-name: name of the model field td corresponds to.
  data-default: default value if left blank.
  data-url: API url to use when editing item.
pkrow class attributes:
  pkrow: Group of items relating to a category or transaction (db-row)
  pklight: Highlight this row on hover.
  readonly: Do not allow editing this pkrow.
pkedit class attributes:
  pkedit: Editable category or transaction value (db-value).
  int,float,bool: Display int, float, or bool representaion.
  selectall: Select all content when initializing edit.
  delempty: Delete category or transaction if value empty.
-->{% endcomment %}

{% verbatim %}
  <script id='summary' type='text/x-handlebars-template'>
    <h2>Summary
      <div class='subtext'>
        {{addCommas this.count}} transactions
        {{yesNo this.uncategorized '|' ''}}
        {{#if this.uncategorized}}<a class='error' href='javascript:pk.budget.search("category=none")'>{{addCommas this.uncategorized}} uncategorized</a>{{/if}}
        {{yesNo this.unapproved '|' ''}}
        {{#if this.unapproved}}<a class='error' href='javascript:pk.budget.search("approved=false")'>{{addCommas this.unapproved}} unapproved</a>{{/if}}
      </div>
    </h2>
    <table cellpadding='0' cellspacing='0' style='clear:both;'>
      <thead><tr>
        <th class='average'>Average</th>
        {{#each this.categories.0.amounts}}
          <th>{{formatDate @key '%b'}}</th>
        {{/each}}
      </tr></thead>
      <tbody>
        {{#each this.categories}}
          <tr data-categoryid='{{yesNo this.categoryid this.categoryid 'null'}}' class='pklight'>
            <td class='average'><div>{{amountInt this.average}}</div></td>
            {{#each this.amounts}}
              <td class='{{budgetFlags ../budget this}}'><div>
                {{amountInt this}}
              </div></td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
      <tfoot><tr>
        <td class='average'><div>{{amountInt this.avg_total}}</div></td>
        {{#each this.total}}
          <td class='{{yesNo this '' 'zero'}}'><div>
            {{amountInt this}}
          </div></td>
        {{/each}}
      </tr></tfoot>
    </table>
  </script>

  <script id='category_list' type='text/x-handlebars-template'>
    <table cellpadding='0' cellspacing='0'>
      <thead><tr>
        <th data-name='name'>Category</th>
        <th data-name='trend'>Trend</th>
        <th data-name='budget'>Budget</th>
      </tr></thead>
      <tbody>
        {{#each this.results}}
          <tr class='pkrow pklight' data-id='{{this.id}}' data-type='category' data-url='{{this.url}}'>
            <td data-name='name' class='pkedit delempty'><div>{{this.name}}</div></td>
            <td data-name='trend' class='drag'><div>&nbsp;</div></td>
            <td data-name='budget' class='pkedit int selectall'><div>{{amountInt this.budget}}</div></td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot> 
        <tr id='category-total'>
          <td data-name='name'><div>Total</div></td>
          <td data-name='trend'><div>&nbsp;</div></td>
          <td data-name='budget'><div>{{amountInt this.total}}</div></td>
        </tr>
        <tr id='category-add' class='pkrow' data-type='category' data-url='/api/categories'>
          <td data-name='name'><input name='name' type='text' placeholder='New Category' autocomplete='off'></td>
          <td data-name='trend'>&nbsp;</td>
          <td data-name='budget' data-default='0'><input name='budget' type='integer' placeholder='$0' autocomplete='off'></td>
        </tr>
      </tfoot>
    </table>
  </script>

  <script id='category_popover' type='text/x-handlebars-template'>
    <div class='title'>{{this.name}}</div>
    <div class='body' style='min-width:200px;'>
      <dl>
        <dt>Total Transactions:</dt>
        <dd><span class='animated-ellipsis'><a href='javascript:pk.budget.search("category=\"{{this.name}}\"", false)'>{{addCommas this.details.transactions}}</a></dd>
        <dt>Total Spent:</dt>
        <dd><span class='animated-ellipsis'>{{amountInt this.details.total}}</dd>
      </dl>
      <div class='pkrow' data-id='{{this.id}}' data-url='{{this.url}}'>
        <div data-name='comment' class='pkedit'><textarea spellcheck='false' placeholder='Notes'>{{this.comment}}</textarea></div>
      </did>
    </div>
  </script>

  <script id='transaction_list' type='text/x-handlebars-template'>
    <h2>Transactions
      <div class='subtext'>
        {{addCommas this.count}} transactions
        {{yesNo this.uncategorized '|' ''}}
        {{#if this.uncategorized}}<a class='error' href='javascript:pk.budget.search("category=none", true)'>{{addCommas this.uncategorized}} uncategorized</a>{{/if}}
        {{yesNo this.unapproved '|' ''}}
        {{#if this.unapproved}}<a class='error' href='javascript:pk.budget.search("approved=false", true)'>{{addCommas this.unapproved}} unapproved</a>{{/if}}
      </div>
    </h2>
    <table cellpadding='0' cellspacing='0' style='clear:both;'>
      <thead><tr>
        <th data-name='account'>Bank</th>
        <th data-name='date'>Date</th>
        <th data-name='payee'>Payee</th>
        <th data-name='category'>Category</th>
        <th data-name='amount'>Amount</th>
        <th data-name='approved'>X</th>
        <th data-name='comment'>Comment</th>
      </tr></thead>
      <tbody>
       {{#each this.results}}
         <tr class='pkrow' data-id='{{this.id}}' data-type='transaction' data-url='{{this.url}}'>
           <td data-name='account'><div>{{this.account.name}}</div></td>
           <td data-name='date' class='pkedit'><div>{{this.date}}</div></td>
           <td data-name='payee' class='pkedit selectall'><div>{{this.payee}}</div></td>
           <td data-name='category' class='pkedit selectall'><div>{{this.category.name}}</div></td>
           <td data-name='amount' class='float'><div>{{amountFloat this.amount}}</div></td>
           <td data-name='approved' class='pkedit bool selectall'><div>{{yesNo this.approved 'x' ''}}</div></td>
           <td data-name='comment' class='pkedit'><div>{{this.comment}}</div></td>
         </tr>
       {{/each}}
       {{#if this.next}}
         <tr id='loadmore' data-next='{{this.next}}'>
           <td colspan='100%'>Loading more transactions..</td>
         </tr>
       {{/if}}
      </tbody>
    </table>
  </script>
{% endverbatim %}
