ipython
python-dateutil
pytz
requests
timelib
tzdata
django==5.1.7
django-cors-headers==4.7.0
django-ninja==1.4.0
ofxparse==0.21
yfinance==0.2.54
django_searchquery @ git+https://github.com/pkkid/django-searchquery.git
