// Encoding: UTF-8

// FadeIn: Fade in only, snap to display:none on fade out.
.fadein-enter-active { transition: opacity .3s ease; }
.fadein-enter { opacity: 0; }
.fadein-leave,
.fadein-leave-active,
.fadein-leave-to { display: none !important; }

// ZoomFade: Fade in and out with a bit of zoom.
.zoomfade-enter { opacity:0; }
.zoomfade-enter-active { transition: all .3s ease; }
.zoomfade-leave-active { opacity:0; }
.zoomfade-enter .zoom,
.zoomfade-leave-active .zoom { transform: scale(1.1); }
