{% verbatim %}

  <!-- Template:clock -->
  <script id='clock' type='text/x-handlebars-template'>
    <div class='date'>{{now "%A, %b %e, %Y"}}</div>
    <div class='time'>{{now "%I:%M%q"}}</div>
  </script>

  <!-- Template:calendar -->
  <script id='calendar' type='text/x-handlebars-template'>
    <div class='title'>Upcoming Events</div>
    {{#withBefore calendar 3}}
      <div class='event'>
        <div class='subject'>{{this.Subject}}</div>
        <div class='details'>time | location</div>
      </div>
    {{/withBefore}}
  </script>

  <!-- Template:weather -->
  <script id='weather' type='text/x-handlebars-template'>
    <div class='weather-today'>
      <div class='weather-today-details'>
        <div class='weather-temp'>{{toInt weather.current_observation.temp_f}}°F</div>
        <div class='weather-feelslike'>Feels: {{toInt weather.current_observation.feelslike_f}}°</div>
      </div>
      <div class='weather-today-icon'>
        <i class='diw-{{weather.current_observation.icon}}'></i>
      </div>
      <div class='weather-today-summary'>
        <div class='weather-location'>{{weather.current_observation.display_location.city}}</div>
        <div class='weather-description'>{{weather.current_observation.weather}}</div>
      </div>
    </div>
    <div class='forecast' style='clear:both'>
      {{#withBefore weather.forecast.simpleforecast.forecastday 5}}
        <div class='forecast-day'>
          <div class='forecast-weekday'>{{this.date.weekday_short}}</div>
          <i class='diw-{{this.icon}}'></i>
          <div class='forecast-temp'>{{this.high.fahrenheit}}°</div>
        </div>
      {{/withBefore}}
    </div>
  </script>

  <!-- Template:news -->
  <script id='news' type='text/x-handlebars-template'>
    <div class='title'><p style='-webkit-box-orient:vertical'>
      <a target='_blank' href='http://reddit.com{{article.permalink}}'>{{article.title}}</a>
    </p></div>
    <div class='subtext'>{{timeAgo article.created}} | {{article.subreddit}} | {{article.domain}}</div>
  </script>

  <!-- Template:tasks -->
  <script id='tasks' type='text/x-handlebars-template'>
    <div class='title'>My Tasks</div>
    {{#withBefore tasks 4}}
      <div class='task'>{{this.title}}</div>
    {{/withBefore}}
  </script>

  <!-- Template:chess -->
  <script id='chess' type='text/x-handlebars-template'>
    <script src='https://lichess.org/tv/embed?theme=grey&bg=dark'></script>
  </script>
{% endverbatim %}