# Systemd Script for uWSGI.
# location: /etc/systemd/system/
[Unit]
Description=uWSGI

[Service]
ExecStart=/usr/local/bin/uwsgi --master --emperor /etc/uwsgi/apps-enabled --die-on-term --uid www-data --gid www-data --logto {{project_dir}}/log/uwsgi.log
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -INT $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=uwsgi.service
