# Web uWSGI Configuration
# location: /etc/uwsgi/sites/
[uwsgi]
chdir = {{project_dir}}
pythonpath = {{root_dir}}
virtualenv = {{virtualenv}}
module = wsgi_web:application
pidfile2 = {{project_dir}}/web.pid
http-socket = {{project_dir}}/web.sock
http-websockets = true
chown-socket = www-data:www-data
chmod-socket = 664
uid = www-data
gid = www-data

master = true
no-orphans = true
vacuum = true
workers = 2
max-requests = 5000
gevent = 123
