# Django uWSGI Configuration
# location: /etc/uwsgi/sites/
[uwsgi]
chdir = {{project_dir}}
pythonpath = {{root_dir}}
virtualenv = {{virtualenv}}
module = wsgi_django:application
pidfile2 = {{project_dir}}/django.pid
socket = {{project_dir}}/django.sock
chown-socket = www-data:www-data
chmod-socket = 664
uid = www-data
gid = www-data

master = true
no-orphans = true
vacuum = true
workers = 5
max-requests = 5000
