<div id='navigation' class='navbar bg-faded'>
  <button class='navbar-toggler hidden-sm-up' type='button' data-toggle='collapse' data-target='#exCollapsingNavbar2'>&#9776;</button>
  <div class='collapse navbar-toggleable-xs' id='exCollapsingNavbar2'>
    <a class='navbar-brand' href='#'>PushingKarma</a>
    <ul class='nav navbar-nav first'>
      <!-- Home -->
      <li class='nav-item social'>
        <a href='{% url "index" %}' data-toggle='tooltip' data-placement='top' title='Home'><span class='icomoon-home2'></span></a>
      </li>
      <!-- Social -->
      <li class='nav-item social pull-right'>
        <a href='https://www.facebook.com/mshepanski' data-toggle='tooltip' data-placement='top' title='Facebook'><span class='icomoon-facebook2'></span></a>
      </li>
      <li class='nav-item social pull-right'>
        <a href='https://www.linkedin.com/in/shepanski' data-toggle='tooltip' data-placement='top' title='LinkedIn'><span class='icomoon-linkedin'></span></a>
      </li>
      <li class='nav-item social pull-right'>
        <a href='https://github.com/mjs7231' data-toggle='tooltip' data-placement='top' title='Github'><span class='icomoon-github4'></span></a>
      </li>
      <!-- Site -->
      <li class='nav-item site {% if menuitem == "projects" %}active{% endif %}'>
        <a href='{% url "index" %}'>
          <span class='title'>Projects</span>
          <span class='subtitle'>My works shared with the community</span>
        </a>
      </li>
      <li class='nav-item site {% if menuitem == "notebook" %}active{% endif %}'>
        <a href='{% url "notebook" %}'>
          <span class='title'>Notebook</span>
          <span class='subtitle'>Thoughts and writings from my journey</span>
        </a>
      </li>
    </ul>
  </div>
</div>
