{% extends 'base.html' %}
{% load basefilters %}
{% block title %}Budget{% endblock %}

{% block js %}
  <script type='text/javascript'>
    $(function() {
      pk.budget.init('#budget');
    });
  </script>
{% endblock %}

{% block content %}
  <div id='budget'>
    <!-- Layout:SidePanel -->
    <div id='sidepanel'>
      <div id='sidepanel-content'>
        <div id='categories'></div>
      </div>
    </div>
    <!-- Layout:MainContent -->
    <div id='maincontent'>
      <span id='search-icon' class='mdi mdi-magnify'></span>
      <input id='search' type='text' value='{{request.GET.search}}' autocomplete='off' autofocus='true'/>
      <div id='summary'></div>
      <div id='transactions'></div>
      <div id='dropzone'><div class='outline'>drop .qfx</div></div>
    </div>
  </div>
{% endblock content %}
