{% extends 'base.html' %}
{% load basefilters %}
{% block title %}Budget{% endblock %}

{% block js %}
  <script type='text/javascript'>
    $(function() {
      pk.budget.init('#budget');
    });
  </script>
{% endblock %}

{% block content %}
  <div id='budget'>
    <!-- Side Panel -->
    <div class='sidepanel'>
      <input class='search' type='text' autofocus='true' value='{{request.GET.search}}' onfocus='this.value = this.value;'/>
      <div class='search-action' data-toggle='tooltip' data-placement='right' title='View Transactions'><i class='mdi mdi-table'></i></div>
      <div class='sidepanel-content'>
        <table cellpadding='0' cellspacing='0'>
          <thead><tr>
            <th class='name'>Category</th>
            <th class='trend'>Trend</th>
            <th class='budget'>Budget</th>
          </tr></thead>
          <tbody></tbody>
          <tfoot><tr class='category add'>
            <td class='name'><input name='name' type='text' placeholder='New Category' autocomplete='off'></td>
            <td class='trend'>&nbsp;</td>
            <td class='budget'><input name='budget' type='integer' placeholder='$0' autocomplete='off'></td>
          </tr></tfoot>
        </table>
      </div>
    </div>
    <!-- Note Content -->
    <div class='maincontent'>Hello World!</div>
  </div>
{% endblock content %}

{% block footer %}
  <span id='budget-notify'>
    <span class='message'></span>
    <span class='spinner'></span>
  </span>
{% endblock footer%}