{% extends 'base.html' %}
{% block bodyclass %}{{block.super}} notebook {{editing|yesno:'editing,'}}{% endblock %}

{% block js %}
  <script type='text/javascript'>
    $(function() {
      pk.editor.init('#notebook-editor', {
        output: '#note',
      });
      pk.notebook.init('#notebook');
    });
  </script>
{% endblock %}

{% block content %}
  <div id='notebook'>
    <!-- Side Panel -->
    <div id='notebook-sidepanel'>
      <input id='notebook-filter' type='text'/>
      {% if user.is_authenticated %}
        <div id='notebook-add' data-toggle='tooltip' data-placement='right' title='Add New Note'><i class='icon-plus'></i></div>
      {% endif %}
      <div id='notebook-list'>
        {% for note in notes %}
          <div class='notebook-item'>
            {{note.title}}
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- Note Content -->
    <div id='notebook-content'>
      <div id='note'>Content</div>
      <!-- Editor -->
      {% if user.is_authenticated %}
        <hr class='fancy'/>
        <div class='editor-toggle'>Toggle Editor</div>
        <div id='notebook-editor' class='editor no-preload-animation'>
          <div class='editor-menu'>
            <span class='editor-title'>Markdown Editor</span>
            <span class='editor-reset action'>Reset</span>
            <span class='editor-save action'>Save</span>
            <span class='editor-spinner'></span>
            <span class='editor-message'></span>
          </div>
          <input name='title' placeholder='Title' autocomplete='off'/>
          <input name='id' type='hidden'/>
          <textarea style='display:none;'>{{note.body}}</textarea>
          <input name='tags' placeholder='Tags' autocomplete='off'/>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
