{% extends 'base.html' %}
{% load humanize %}
{% load basefilters %}
{% block bodyclass %}{{block.super}} notebook {{request.COOKIES.editing|yesno:'editing,'}}{% endblock %}

{% block js %}
  <script type='text/javascript'>
    $(function() {
      {% if user.is_authenticated %}
        pk.editor.init('#note', {
          api_url: '/api/pages/',
          markdown_url: '/markdown/n/',
          show_title: true,
          show_tags: true,
          init_data: {{note|json}},
        });
      {% endif %}
      pk.notebook.init('#notebook', pk.editor);
    });
  </script>
{% endblock %}

{% block content %}
  <div id='notebook'>
    <!-- Side Panel -->
    <div id='notebook-sidepanel'>
      <input id='notebook-search' type='text' autofocus='true' value='{{request.GET.search}}' onfocus='this.value = this.value;'/>
      {% if user.is_authenticated %}
        <div id='notebook-add' data-toggle='tooltip' data-placement='right' title='Add New Note'><i class='icon-plus'></i></div>
      {% endif %}
      <div id='notebook-list'>
        {% for note in notes %}
          <a class='notebook-item' href='{{note.url}}'>
            <div class='title'>{{note.title}}</div>
            <div class='subtext'>
              <span class='date'><span class='icon-clock'></span> {{note.created|naturaltime}}</span>
              <span class='tags' style='margin-left:10px;'><span class='icon-price-tag'></span> {{note.tags|join:', '}}</span>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
    <!-- Note Content -->
    <div id='notebook-content'>
      <article id='note'>
        <h2>{{note.title}}</h2>
        {{note.html|safe}}
      </article>
    </div>
  </div>
{% endblock content %}
