{% extends 'base.html' %}
{% load humanize %}
{% load basefilters %}
{% block bodyclass %}{{block.super}} notebook {{request.COOKIES.editing|yesno:'editing,'}}{% endblock %}

{% block js %}
  <script type='text/javascript'>
    $(function() {
      pk.notebook.init('#notebook', {{note.id|json}});
    });
  </script>
{% endblock %}

{% block content %}
  <div id='notebook'>
    <!-- Side Panel -->
    <div id='notebook-sidepanel'>
      <input id='notebook-search' type='text' autofocus='true'/>
      {% if user.is_authenticated %}
        <div id='notebook-add' data-toggle='tooltip' data-placement='right' title='Add New Note'><i class='icon-plus'></i></div>
      {% endif %}
      <div id='notebook-list'>
        {% for note in notes %}
          <a class='notebook-item' href='{{note.url}}'>
            <div class='title'>{{note.title}}</div>
            <div class='subtext'>
              <span class='date'><span class='icon-clock'></span> {{note.created|naturaltime}}</span>
              <span class='tags' style='margin-left:10px;'><span class='icon-price-tag'></span> {{note.tags|join:', '}}</span>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
    <!-- Note Content -->
    <div id='notebook-content'>
      <article id='note'>
        <h2>{{note.title}}</h2>
        {{note.html|safe}}
      </article>
      <!-- Editor -->
      {% if user.is_authenticated %}
        <hr class='fancy'/>
        <div class='editor-toggle'></div>
        <div id='notebook-editor' class='editor no-preload-animation'>
          <div class='editor-menu'>
            <span class='editor-title'>Markdown Editor</span>
            <span class='editor-reset action'>Reset</span>
            <span class='editor-save action'>Save</span>
            <span class='editor-delete action'><i class='icon-bin'></i></span>
            <span class='editor-spinner'></span>
            <span class='editor-message'></span>
          </div>
          <input name='title' placeholder='Title' autocomplete='off' value='{{note.title}}'/>
          <input name='id' type='hidden'/>
          <textarea style='display:none;'>{{note.body}}</textarea>
          <input name='tags' placeholder='Tags' autocomplete='off' value='{{note.tags}}'/>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
