{% extends 'base.html' %}
{% load humanize %}
{% load basefilters %}
{% block title %}{% if note.title %}{{note.title}} - {% endif %}{% endblock %}

{% block js %}
  <script type='text/javascript'>
    $(function() {
      {% if user.is_authenticated %}
        pk.editor.init('#note', {
          api_url: '/api/notes/',
          markdown_url: '/markdown/n/',
          show_title: true,
          show_tags: true,
          init_data: {{note|json}},
        });
      {% endif %}
      pk.notes.init('#notes', {{note.id|default:0}}, pk.editor);
    });
  </script>
{% endblock %}

{% block content %}
  <div id='notes'>
    <!-- Side Panel -->
    <div id='notes-sidepanel'>
      <input id='notes-search' type='text' autofocus='true' value='{{request.GET.search}}' onfocus='this.value = this.value;'/>
      {% if user.is_authenticated %}
        <div id='notes-add' data-toggle='tooltip' data-placement='right' title='Add New Note'><i class='mdi mdi-plus'></i></div>
      {% endif %}
      <div id='notes-list'></div>
    </div>
    <!-- Note Content -->
    <div id='notes-content'>
      <article id='note'>
        <h2>{{note.title}}</h2>
        {{note.html|safe}}
      </article>
    </div>
  </div>
{% endblock content %}
