{% extends 'base.html' %}


{% block layoutwrap %}
  {% if user.is_authenticated %}
    <div id='page-editor' class='no-preload-animation'>
      <div class='handle'></div>
      <div class='menu'>
        <span class='title'>Markdown Editor</span>
        <span class='action reset'>Reset</span>
        <span class='action save'>Save</span>
        <span class='spinner'></span>
      </div>
      <textarea id='page-textarea' style='display:none;'>{{page.body}}</textarea>
    </div>
  {% endif %}
  {{block.super}}
{% endblock %}


{% block content %}
  <div id='page'>
    {{page.html|safe}}
  </div>
{% endblock content %}
