{% extends 'base.html' %}
{% block bodyclass %}{{block.super}} pages {{editing|yesno:'editing,'}}{% endblock %}

{% block js %}
  <script type='text/javascript'>
    $(function() {
      pk.pages.init('#pages-editor');
    });
  </script>
{% endblock %}

<!-- Editor -->
{% block layoutwrap %}
  {% if user.is_authenticated %}
    <div id='pages-editor' class='editor no-preload-animation'>
      <div class='editor-toggle'></div>
      <div class='editor-menu'>
        <span class='editor-title'>Markdown Editor</span>
        <span class='editor-reset action'>Reset</span>
        <span class='editor-save action'>Save</span>
        <span class='editor-spinner'></span>
        <span class='editor-message'></span>
      </div>
      <textarea style='display:none;'>{{page.body}}</textarea>
      <div class='editor-includes'>
        {% if page.includes %}
          Includes:
          {% for slug in page.includes %}
            <a href='/p/{{slug}}'>{{slug}}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  {% endif %}
  {{block.super}}
{% endblock %}

<!-- Page Content -->
{% block content %}
  <div id='page'>{{page.html|safe}}</div>
{% endblock content %}
