{% extends 'base.html' %}
{% load basefilters %}
{% block title %}{% if page.title %}{{page.title}} - {% endif %}{% endblock %}

{% block content %}
  <article id='page'>{{page.html|safe}}</article>
{% endblock content %}

{% block js %}
  {% if user.is_authenticated %}
    <script type='text/javascript'>
      $(function() {
        pk.editor.init('#page', {
          api_url: '/api/pages/',
          markdown_url: '/markdown/p/',
          show_includes: true,
          init_data: {{page|json}},
        });
      });
    </script>
    {% include 'handlebars/editor.tmpl' %}
  {% endif %}
{% endblock %}
