{% extends 'base.html' %}
{% block bodyclass %}{{block.super}} {{editing|yesno:'editing,'}}{% endblock %}

{% block layoutwrap %}
  {% if user.is_authenticated %}
    <div id='pages-editor' class='editor no-preload-animation'>
      <div class='editor-toggle'></div>
      <div class='editor-menu'>
        <span class='editor-title'>Markdown Editor</span>
        <span class='editor-reset action'>Reset</span>
        <span class='editor-save action'>Save</span>
        <span class='editor-spinner'></span>
        <span class='editor-message'></span>
      </div>
      <textarea style='display:none;'>{{page.body}}</textarea>
      <div class='editor-footer'>
        <span class='editor-includes'>
          {% if page.included %}
            Included:
            {% for slug in page.included %}
              <a href='/p/{{slug}}'>{{slug}}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          {% endif %}
        </span>
      </div>
    </div>
  {% endif %}
  {{block.super}}
{% endblock %}


{% block content %}
  <div id='page'>
    {{page.html|safe}}
  </div>
{% endblock content %}
